In [7]:
import pandas as pd
  
f= 'Road Merge Collisionfault_StuckAt_4_V6.csv'     
    # read the csv file
df = pd.read_csv(f)
df.columns = ["Time","Speed"]
df.to_csv(f,index=False)
display(df)
print(f)

           Time      Speed
0      0.020005   0.000030
1      0.040010   0.120060
2      0.060015   0.240090
3      0.080020   0.360120
4      0.100025   0.480150
...         ...        ...
3994  79.919980  12.999358
3995  79.939985  12.999371
3996  79.959990  12.999384
3997  79.979995  12.999397
3998  80.000000  12.999409

[3999 rows x 2 columns]

Road Merge Collisionfault_StuckAt_4_V6.csv

In [6]:
>>> import pandas as pd  
>>> df_source1 = pd.read_csv('Platoon Controlfault_StuckAt_10_V6.csv') 
>>> df_source2 = pd.read_csv('Road Merge Collisionfault_StuckAt_10_V6.csv') 
>>> df_source2["Label"]=df_source1["Label"]# 
>>> df_source2.to_csv('Road Merge Collisionfault_StuckAt_10_V6.csv',index=False)
>>> df_source2 = pd.read_csv('Urban City Trafficfault_StuckAt_10_V6.csv') 
>>> df_source2["Label"]=df_source1["Label"]# 
>>> df_source2.to_csv('Urban City Trafficfault_StuckAt_10_V6.csv',index=False)