In [3]:
import pandas as pd

for i in range (1,81):
    faultduration = ['0_6','1_2','1_8','2_4','3','3_6','4_2','5']
    for x in faultduration:
        Vehicle = ['_V1','_V2','_V3','_V4','_V5','_V6','_V7','_V8','_V9','_V10']
        for k in Vehicle:
            df = pd.DataFrame(list())
            df.to_csv('RoadMergeCollision_Offset_faultduration_'+ x + k + '.csv')

In [4]:
Vehicle = ['_V1','_V2','_V3','_V4','_V5','_V6','_V7','_V8','_V9','_V10']
for k in Vehicle:
    df = pd.DataFrame(list())
    df.to_csv('RoadMergeCollision_sample_faultfree_' + k + '.csv')

In [1]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
    df.columns = ["a","b","c","d","e","f","g","h","i"]
    df=df.drop(["c","d","e","h"],axis=1)
    df = df.rename(columns={"a": "Time", "b": "Speed", "f":"Rotation", "g":"Position", "i":"Translation"})
    df.to_csv(f,index=False)
    display(df)
    print(f)

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.12006  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.24009  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.36012  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.48015  1.570796e+00 -239.975985  -100.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  4.636952e-12  370.000000    76.172619
3995  79.939985  13.00000  4.429945e-12  370.000000    76.432684
3996  79.959990  13.00000  4.233601e-12  370.000000    76.692749
3997  79.979995  13.00000  4.046144e-12  370.000000    76.952814
3998  80.000000  12.94000  3.865797e-12  370.000000    77.211679

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_0_6_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_0_6_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571546  301.890016   250.017693
3995  79.939985  11.731341 -1.571534  301.655331   250.017519
3996  79.959990  11.746567 -1.571521  301.420341   250.017347
3997  79.979995  11.761617 -1.571507  301.185050   250.017178
3998  80.000000  11.776491 -1.571493  300.949461   250.017012

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_0_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_0_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_0_6_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.228458
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.228458
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.228458
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.228458
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.228458

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_0_6_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999977 -0.685474  358.107514   230.679177
3995  79.939985  12.999978 -0.690414  357.942387   230.880090
3996  79.959990  12.999978 -0.695354  357.776268   231.080186
3997  79.979995  12.999979 -0.700294  357.609164   231.279458
3998  80.000000  12.999979 -0.705235  357.441077   231.477902

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_0_6_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_0_6_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_0_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_0_6_V9.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.12006  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.24009  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.36012  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.48015  1.570796e+00 -239.975985  -100.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  7.281180e-12  370.000000    74.214066
3995  79.939985  13.00000  6.958676e-12  370.000000    74.474131
3996  79.959990  13.00000  6.651278e-12  370.000000    74.734196
3997  79.979995  13.00000  6.356323e-12  370.000000    74.994261
3998  80.000000  13.00000  6.075584e-12  370.000000    75.254326

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_2_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_2_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.573163  304.126923   249.991668
3995  79.939985  11.731341 -1.573086  303.892239   249.991121
3996  79.959990  11.746567 -1.573006  303.657249   249.990593
3997  79.979995  11.761617 -1.572924  303.421959   249.990082
3998  80.000000  11.776491 -1.572841  303.186371   249.989591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_2_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.174998
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.174998
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.174998
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.174998
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.174998

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_2_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999952 -0.633274  359.792232   228.505753
3995  79.939985  12.999953 -0.638209  359.637813   228.715009
3996  79.959990  12.999954 -0.643145  359.482363   228.923500
3997  79.979995  12.999955 -0.648081  359.325886   229.131221
3998  80.000000  12.999956 -0.653017  359.168386   229.338167

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_2_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_2_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_2_V9.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.12006  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.24009  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.36012  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.48015  1.570796e+00 -239.975985  -100.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.060712e-11  370.000000    72.482026
3995  79.939985  13.00000  1.013625e-11  370.000000    72.742091
3996  79.959990  13.00000  9.685811e-12  370.000000    73.002156
3997  79.979995  13.00000  9.255815e-12  370.000000    73.262221
3998  80.000000  13.00000  8.845369e-12  370.000000    73.522286

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_8_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_8_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.573812  306.041684   249.994992
3995  79.939985  11.731341 -1.573717  305.806999   249.994295
3996  79.959990  11.746567 -1.573619  305.572010   249.993621
3997  79.979995  11.761617 -1.573519  305.336720   249.992968
3998  80.000000  11.776491 -1.573416  305.101132   249.992339

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_8_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_8_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_8_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.079762
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.079762
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.079762
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.079762
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.079762

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_8_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999882 -0.583315  361.297238   226.344481
3995  79.939985  12.999884 -0.588244  361.153463   226.561186
3996  79.959990  12.999887 -0.593174  361.008621   226.777180
3997  79.979995  12.999889 -0.598104  360.862716   226.992458
3998  80.000000  12.999891 -0.603036  360.715752   227.207013

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_8_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_8_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_8_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_1_8_V9.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.12006  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.24009  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.36012  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.48015  1.570796e+00 -239.975985  -100.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.293403e-11  370.000000    70.487688
3995  79.939985  13.00000  1.236099e-11  370.000000    70.747753
3996  79.959990  13.00000  1.181371e-11  370.000000    71.007818
3997  79.979995  13.00000  1.129043e-11  370.000000    71.267883
3998  80.000000  13.00000  1.079026e-11  370.000000    71.527948

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_2_4_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_2_4_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.575795  308.041912   249.929047
3995  79.939985  11.731341 -1.575607  307.807229   249.927896
3996  79.959990  11.746567 -1.575411  307.572242   249.926788
3997  79.979995  11.761617 -1.575210  307.336953   249.925726
3998  80.000000  11.776491 -1.575005  307.101367   249.924711

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_2_4_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_2_4_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_2_4_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.589040e-13  370.000000   129.009165
3995  79.939985  0.00000 -2.589040e-13  370.000000   129.009165
3996  79.959990  0.00000 -2.589040e-13  370.000000   129.009165
3997  79.979995  0.00000 -2.589040e-13  370.000000   129.009165
3998  80.000000  0.00000 -2.589040e-13  370.000000   129.009165

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_2_4_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999723 -0.527704  362.845033   223.850568
3995  79.939985  12.999729 -0.532624  362.713528   224.074927
3996  79.959990  12.999734 -0.537545  362.580920   224.298637
3997  79.979995  12.999740 -0.542466  362.447213   224.521692
3998  80.000000  12.999745 -0.547389  362.312410   224.744086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_2_4_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_2_4_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_2_4_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_2_4_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.999999  3.323673e-11  370.000000    65.990903
3995  79.939985  12.999999  3.176458e-11  370.000000    66.250968
3996  79.959990  12.999999  3.035731e-11  370.000000    66.511033
3997  79.979995  12.999999  2.901224e-11  370.000000    66.771098
3998  80.000000  12.999999  2.772671e-11  370.000000    67.031163

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_6_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_6_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.567450  312.242584   250.015653
3995  79.939985  11.731341 -1.568009  312.007900   250.016373
3996  79.959990  11.746567 -1.568527  311.772911   250.016967
3997  79.979995  11.761617 -1.569007  311.537620   250.017445
3998  80.000000  11.776491 -1.569450  311.302032   250.017814

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_6_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.597922e-13  370.000000   129.086899
3995  79.939985  0.00000 -2.597922e-13  370.000000   129.086899
3996  79.959990  0.00000 -2.597922e-13  370.000000   129.086899
3997  79.979995  0.00000 -2.597922e-13  370.000000   129.086899
3998  80.000000  0.00000 -2.597922e-13  370.000000   129.086899

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_6_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.998941 -0.415979  365.540101   218.568343
3995  79.939985  12.998963 -0.420852  365.434441   218.805954
3996  79.959990  12.998984 -0.425727  365.327625   219.043048
3997  79.979995  12.999005 -0.430606  365.219654   219.279618
3998  80.000000  12.999025 -0.435487  365.110529   219.515659

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_6_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_6_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_6_V9.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.12006  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.24009  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.36012  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.48015  1.570796e+00 -239.975985  -100.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  2.078034e-11  370.000000    68.242266
3995  79.939985  13.00000  1.985903e-11  370.000000    68.502331
3996  79.959990  13.00000  1.897859e-11  370.000000    68.762396
3997  79.979995  13.00000  1.813637e-11  370.000000    69.022461
3998  80.000000  13.00000  1.733236e-11  370.000000    69.282526

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.579192  310.347606   249.862982
3995  79.939985  11.731341 -1.578870  310.112929   249.861049
3996  79.959990  11.746567 -1.578536  309.877946   249.859191
3997  79.979995  11.761617 -1.578192  309.642662   249.857411
3998  80.000000  11.776491 -1.577841  309.407079   249.855710

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.589040e-13  370.000000   129.160263
3995  79.939985  0.00000 -2.589040e-13  370.000000   129.160263
3996  79.959990  0.00000 -2.589040e-13  370.000000   129.160263
3997  79.979995  0.00000 -2.589040e-13  370.000000   129.160263
3998  80.000000  0.00000 -2.589040e-13  370.000000   129.160263

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999518 -0.469837  364.311907   221.157855
3995  79.939985  12.999528 -0.474737  364.193602   221.389443
3996  79.959990  12.999538 -0.479639  364.074163   221.620447
3997  79.979995  12.999547 -0.484542  363.953593   221.850864
3998  80.000000  12.999557 -0.489448  363.831894   222.080687

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_3_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.999999  4.267163e-11  370.000000    63.750602
3995  79.939985  12.999999  4.077747e-11  370.000000    64.010667
3996  79.959990  12.999999  3.896685e-11  370.000000    64.270732
3997  79.979995  12.999999  3.723798e-11  370.000000    64.530797
3998  80.000000  12.999999  3.558553e-11  370.000000    64.790862

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_4_2_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_4_2_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.566255  312.466854   250.012665
3995  79.939985  11.731341 -1.566879  312.232171   250.013658
3996  79.959990  11.746567 -1.567461  311.997182   250.014510
3997  79.979995  11.761617 -1.568003  311.761892   250.015231
3998  80.000000  11.776491 -1.568505  311.526304   250.015830

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_4_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_4_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_4_2_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.589040e-13  370.000000   129.022960
3995  79.939985  0.00000 -2.589040e-13  370.000000   129.022960
3996  79.959990  0.00000 -2.589040e-13  370.000000   129.022960
3997  79.979995  0.00000 -2.589040e-13  370.000000   129.022960
3998  80.000000  0.00000 -2.589040e-13  370.000000   129.022960

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_4_2_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.998372 -0.366284  366.552462   216.111912
3995  79.939985  12.998406 -0.371124  366.458744   216.354470
3996  79.959990  12.998438 -0.375968  366.363853   216.596571
3997  79.979995  12.998470 -0.380815  366.267790   216.838211
3998  80.000000  12.998501 -0.385667  366.170556   217.079382

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_4_2_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_4_2_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_4_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_4_2_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.999999  9.219675e-11  370.000000    59.978930
3995  79.939985  12.999999  8.810815e-11  370.000000    60.238995
3996  79.959990  12.999999  8.419994e-11  370.000000    60.499060
3997  79.979995  12.999999  8.046590e-11  370.000000    60.759125
3998  80.000000  12.999999  7.689538e-11  370.000000    61.019190

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_5_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_5_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565927  312.523929   250.011808
3995  79.939985  11.731341 -1.566569  312.289246   250.012875
3996  79.959990  11.746567 -1.567168  312.054258   250.013798
3997  79.979995  11.761617 -1.567726  311.818968   250.014586
3998  80.000000  11.776491 -1.568244  311.583381   250.015249

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_5_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_5_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_5_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.606804e-13  370.000000   129.252210
3995  79.939985  0.00000 -2.606804e-13  370.000000   129.252210
3996  79.959990  0.00000 -2.606804e-13  370.000000   129.252210
3997  79.979995  0.00000 -2.606804e-13  370.000000   129.252210
3998  80.000000  0.00000 -2.606804e-13  370.000000   129.252210

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_5_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.995791 -0.276857  368.090128   211.497723
3995  79.939985  12.995877 -0.281600  368.018473   211.747636
3996  79.959990  12.995961 -0.286348  367.945633   211.997207
3997  79.979995  12.996043 -0.291100  367.871607   212.246431
3998  80.000000  12.996124 -0.295858  367.796397   212.495302

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_5_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_5_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_5_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Noise_faultduration_5_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.700060  3.790916e-12  370.000000    78.127335
3995  79.939985  12.640045  3.630106e-12  370.000000    78.380199
3996  79.959990  12.580030  3.477295e-12  370.000000    78.631863
3997  79.979995  12.520015  3.331594e-12  370.000000    78.882326
3998  80.000000  12.460000  3.193001e-12  370.000000    79.131589

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_0_6_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_0_6_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_0_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_0_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_0_6_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.098381
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.098381
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.098381
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.098381
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.098381

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_0_6_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.737455  356.320994   232.751442
3995  79.939985  13.00000 -0.742398  356.145650   232.943505
3996  79.959990  13.00000 -0.747340  355.969359   233.134698
3997  79.979995  13.00000 -0.752283  355.792125   233.325018
3998  80.000000  13.00000 -0.757226  355.613952   233.514460

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_0_6_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_0_6_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_0_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_0_6_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.700060  3.790916e-12  370.000000    78.127335
3995  79.939985  12.640045  3.630106e-12  370.000000    78.380199
3996  79.959990  12.580030  3.477295e-12  370.000000    78.631863
3997  79.979995  12.520015  3.331594e-12  370.000000    78.882326
3998  80.000000  12.460000  3.193001e-12  370.000000    79.131589

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_2_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_2_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_2_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.098381
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.098381
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.098381
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.098381
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.098381

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_2_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.737455  356.320994   232.751442
3995  79.939985  13.00000 -0.742398  356.145650   232.943505
3996  79.959990  13.00000 -0.747340  355.969359   233.134698
3997  79.979995  13.00000 -0.752283  355.792125   233.325018
3998  80.000000  13.00000 -0.757226  355.613952   233.514460

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_2_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_2_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_2_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.700060  3.790916e-12  370.000000    78.127335
3995  79.939985  12.640045  3.630106e-12  370.000000    78.380199
3996  79.959990  12.580030  3.477295e-12  370.000000    78.631863
3997  79.979995  12.520015  3.331594e-12  370.000000    78.882326
3998  80.000000  12.460000  3.193001e-12  370.000000    79.131589

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_8_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_8_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_8_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_8_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_8_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.098381
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.098381
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.098381
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.098381
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.098381

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_8_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.737455  356.320994   232.751442
3995  79.939985  13.00000 -0.742398  356.145650   232.943505
3996  79.959990  13.00000 -0.747340  355.969359   233.134698
3997  79.979995  13.00000 -0.752283  355.792125   233.325018
3998  80.000000  13.00000 -0.757226  355.613952   233.514460

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_8_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_8_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_8_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_1_8_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.700060  3.790916e-12  370.000000    78.127335
3995  79.939985  12.640045  3.630106e-12  370.000000    78.380199
3996  79.959990  12.580030  3.477295e-12  370.000000    78.631863
3997  79.979995  12.520015  3.331594e-12  370.000000    78.882326
3998  80.000000  12.460000  3.193001e-12  370.000000    79.131589

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_2_4_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_2_4_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_2_4_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_2_4_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_2_4_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.098381
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.098381
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.098381
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.098381
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.098381

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_2_4_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.737455  356.320994   232.751442
3995  79.939985  13.00000 -0.742398  356.145650   232.943505
3996  79.959990  13.00000 -0.747340  355.969359   233.134698
3997  79.979995  13.00000 -0.752283  355.792125   233.325018
3998  80.000000  13.00000 -0.757226  355.613952   233.514460

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_2_4_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_2_4_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_2_4_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_2_4_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.700060  3.790916e-12  370.000000    78.127335
3995  79.939985  12.640045  3.630106e-12  370.000000    78.380199
3996  79.959990  12.580030  3.477295e-12  370.000000    78.631863
3997  79.979995  12.520015  3.331594e-12  370.000000    78.882326
3998  80.000000  12.460000  3.193001e-12  370.000000    79.131589

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_6_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_6_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_6_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.098381
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.098381
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.098381
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.098381
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.098381

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_6_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.737455  356.320994   232.751442
3995  79.939985  13.00000 -0.742398  356.145650   232.943505
3996  79.959990  13.00000 -0.747340  355.969359   233.134698
3997  79.979995  13.00000 -0.752283  355.792125   233.325018
3998  80.000000  13.00000 -0.757226  355.613952   233.514460

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_6_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_6_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_6_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.700060  3.790916e-12  370.000000    78.127335
3995  79.939985  12.640045  3.630106e-12  370.000000    78.380199
3996  79.959990  12.580030  3.477295e-12  370.000000    78.631863
3997  79.979995  12.520015  3.331594e-12  370.000000    78.882326
3998  80.000000  12.460000  3.193001e-12  370.000000    79.131589

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.098381
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.098381
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.098381
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.098381
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.098381

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.737455  356.320994   232.751442
3995  79.939985  13.00000 -0.742398  356.145650   232.943505
3996  79.959990  13.00000 -0.747340  355.969359   233.134698
3997  79.979995  13.00000 -0.752283  355.792125   233.325018
3998  80.000000  13.00000 -0.757226  355.613952   233.514460

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_3_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.700060  3.790916e-12  370.000000    78.127335
3995  79.939985  12.640045  3.630106e-12  370.000000    78.380199
3996  79.959990  12.580030  3.477295e-12  370.000000    78.631863
3997  79.979995  12.520015  3.331594e-12  370.000000    78.882326
3998  80.000000  12.460000  3.193001e-12  370.000000    79.131589

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_4_2_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_4_2_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_4_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_4_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_4_2_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.098381
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.098381
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.098381
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.098381
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.098381

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_4_2_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.737455  356.320994   232.751442
3995  79.939985  13.00000 -0.742398  356.145650   232.943505
3996  79.959990  13.00000 -0.747340  355.969359   233.134698
3997  79.979995  13.00000 -0.752283  355.792125   233.325018
3998  80.000000  13.00000 -0.757226  355.613952   233.514460

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_4_2_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_4_2_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_4_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_4_2_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.700060  3.790916e-12  370.000000    78.127335
3995  79.939985  12.640045  3.630106e-12  370.000000    78.380199
3996  79.959990  12.580030  3.477295e-12  370.000000    78.631863
3997  79.979995  12.520015  3.331594e-12  370.000000    78.882326
3998  80.000000  12.460000  3.193001e-12  370.000000    79.131589

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_5_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_5_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_5_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_5_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_5_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.098381
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.098381
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.098381
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.098381
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.098381

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_5_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.737455  356.320994   232.751442
3995  79.939985  13.00000 -0.742398  356.145650   232.943505
3996  79.959990  13.00000 -0.747340  355.969359   233.134698
3997  79.979995  13.00000 -0.752283  355.792125   233.325018
3998  80.000000  13.00000 -0.757226  355.613952   233.514460

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_5_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_5_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_5_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_Offset_faultduration_5_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.700060  3.790916e-12  370.000000    78.127335
3995  79.939985  12.640045  3.630106e-12  370.000000    78.380199
3996  79.959990  12.580030  3.477295e-12  370.000000    78.631863
3997  79.979995  12.520015  3.331594e-12  370.000000    78.882326
3998  80.000000  12.460000  3.193001e-12  370.000000    79.131589

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_sample_FaultFree_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_sample_FaultFree_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_sample_FaultFree_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_sample_FaultFree_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_sample_FaultFree_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.098381
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.098381
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.098381
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.098381
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.098381

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_sample_FaultFree_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.737455  356.320994   232.751442
3995  79.939985  13.00000 -0.742398  356.145650   232.943505
3996  79.959990  13.00000 -0.747340  355.969359   233.134698
3997  79.979995  13.00000 -0.752283  355.792125   233.325018
3998  80.000000  13.00000 -0.757226  355.613952   233.514460

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_sample_FaultFree_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_sample_FaultFree_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_sample_FaultFree_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_sample_FaultFree_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.700060  3.790916e-12  370.000000    78.127335
3995  79.939985  12.640045  3.630106e-12  370.000000    78.380199
3996  79.959990  12.580030  3.477295e-12  370.000000    78.631863
3997  79.979995  12.520015  3.331594e-12  370.000000    78.882326
3998  80.000000  12.460000  3.193001e-12  370.000000    79.131589

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_0_6_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_0_6_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_0_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_0_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_0_6_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.136755
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.136755
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.136755
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.136755
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.136755

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_0_6_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999997 -0.732597  356.492437   232.561798
3995  79.939985  12.999997 -0.737539  356.318028   232.754710
3996  79.959990  12.999997 -0.742482  356.142667   232.946758
3997  79.979995  12.999997 -0.747425  355.966360   233.137937
3998  80.000000  12.999997 -0.752367  355.789110   233.328242

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_0_6_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_0_6_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_0_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_0_6_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.760060  4.007197e-12  370.000000    77.886965
3995  79.939985  12.700045  3.834840e-12  370.000000    78.141030
3996  79.959990  12.640030  3.672255e-12  370.000000    78.393894
3997  79.979995  12.580015  3.517669e-12  370.000000    78.645557
3998  80.000000  12.520000  3.371081e-12  370.000000    78.896020

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_2_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_2_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_2_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.152084
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.152084
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.152084
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.152084
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.152084

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_2_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999991 -0.728755  356.627514   232.411097
3995  79.939985  12.999991 -0.733697  356.453848   232.604677
3996  79.959990  12.999991 -0.738639  356.279227   232.797398
3997  79.979995  12.999992 -0.743581  356.103655   232.989252
3998  80.000000  12.999992 -0.748524  355.927138   233.180237

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_2_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_2_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_2_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.760060  4.007197e-12  370.000000    77.886965
3995  79.939985  12.700045  3.834840e-12  370.000000    78.141030
3996  79.959990  12.640030  3.672255e-12  370.000000    78.393894
3997  79.979995  12.580015  3.517669e-12  370.000000    78.645557
3998  80.000000  12.520000  3.371081e-12  370.000000    78.896020

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_8_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_8_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_8_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_8_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_8_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.158196
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.158196
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.158196
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.158196
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.158196

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_8_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999980 -0.723680  356.804831   232.211440
3995  79.939985  12.999981 -0.728622  356.632149   232.405900
3996  79.959990  12.999981 -0.733564  356.458509   232.599504
3997  79.979995  12.999981 -0.738506  356.283913   232.792247
3998  80.000000  12.999982 -0.743449  356.108368   232.984125

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_8_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_8_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_8_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_1_8_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.820060  4.214597e-12  370.000000    77.645370
3995  79.939985  12.760045  4.033354e-12  370.000000    77.900635
3996  79.959990  12.700030  3.860110e-12  370.000000    78.154700
3997  79.979995  12.640015  3.696639e-12  370.000000    78.407564
3998  80.000000  12.580000  3.542056e-12  370.000000    78.659227

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_2_4_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_2_4_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_2_4_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_2_4_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_2_4_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.234269
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.234269
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.234269
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.234269
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.234269

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_2_4_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999960 -0.719729  356.942348   232.055220
3995  79.939985  12.999961 -0.724671  356.770436   232.250360
3996  79.959990  12.999962 -0.729612  356.597562   232.444648
3997  79.979995  12.999962 -0.734554  356.423730   232.638079
3998  80.000000  12.999963 -0.739497  356.248944   232.830649

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_2_4_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_2_4_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_2_4_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_2_4_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.820060  4.214597e-12  370.000000    77.645370
3995  79.939985  12.760045  4.033354e-12  370.000000    77.900635
3996  79.959990  12.700030  3.860110e-12  370.000000    78.154700
3997  79.979995  12.640015  3.696639e-12  370.000000    78.407564
3998  80.000000  12.580000  3.542056e-12  370.000000    78.659227

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_6_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_6_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_6_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.087736
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.087736
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.087736
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.087736
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.087736

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_6_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999853 -0.710965  357.245076   231.706844
3995  79.939985  12.999856 -0.715906  357.074883   231.903482
3996  79.959990  12.999859 -0.720847  356.903720   232.099276
3997  79.979995  12.999862 -0.725788  356.731591   232.294223
3998  80.000000  12.999865 -0.730730  356.558502   232.488316

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_6_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_6_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_6_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.820060  4.214597e-12  370.000000    77.645370
3995  79.939985  12.760045  4.033354e-12  370.000000    77.900635
3996  79.959990  12.700030  3.860110e-12  370.000000    78.154700
3997  79.979995  12.640015  3.696639e-12  370.000000    78.407564
3998  80.000000  12.580000  3.542056e-12  370.000000    78.659227

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.024511
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.024511
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.024511
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.024511
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.024511

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999922 -0.715152  357.100778   231.873661
3995  79.939985  12.999924 -0.720093  356.929762   232.069585
3996  79.959990  12.999926 -0.725035  356.757780   232.264662
3997  79.979995  12.999927 -0.729977  356.584835   232.458887
3998  80.000000  12.999929 -0.734919  356.410933   232.652254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_3_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.880060  4.513486e-12  370.000000    77.423347
3995  79.939985  12.820045  4.318026e-12  370.000000    77.679812
3996  79.959990  12.760030  4.132343e-12  370.000000    77.935077
3997  79.979995  12.700015  3.955547e-12  370.000000    78.189141
3998  80.000000  12.640000  3.787637e-12  370.000000    78.442004

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_4_2_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_4_2_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_4_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_4_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_4_2_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.087915
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.087915
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.087915
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.087915
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.087915

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_4_2_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999724 -0.706775  357.388754   231.539334
3995  79.939985  12.999729 -0.711716  357.219387   231.736681
3996  79.959990  12.999735 -0.716657  357.049047   231.933189
3997  79.979995  12.999740 -0.721598  356.877739   232.128853
3998  80.000000  12.999746 -0.726539  356.705466   232.323668

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_4_2_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_4_2_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_4_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_4_2_V9.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -239.999999  -100.000000
1      0.040010   0.120060  1.570796e+00 -239.997598  -100.000000
2      0.060015   0.240090  1.570796e+00 -239.992795  -100.000000
3      0.080020   0.360120  1.570796e+00 -239.985590  -100.000000
4      0.100025   0.480150  1.570796e+00 -239.975985  -100.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.880060  4.513486e-12  370.000000    77.423347
3995  79.939985  12.820045  4.318026e-12  370.000000    77.679812
3996  79.959990  12.760030  4.132343e-12  370.000000    77.935077
3997  79.979995  12.700015  3.955547e-12  370.000000    78.189141
3998  80.000000  12.640000  3.787637e-12  370.000000    78.442004

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_5_V1.csv

           Time    Speed  Rotation   Position  Translation
0      0.020005  0.00003  3.141593  470.00000   349.999999
1      0.040010  0.12006  3.141593  470.00000   349.997598
2      0.060015  0.24009  3.141593  470.00000   349.992795
3      0.080020  0.36012  3.141593  470.00000   349.985590
4      0.100025  0.48015  3.141593  470.00000   349.975985
...         ...      ...       ...        ...          ...
3994  79.919980  0.00000  4.685960  180.78907   140.160757
3995  79.939985  0.00000  4.685960  180.78907   140.160757
3996  79.959990  0.00000  4.685960  180.78907   140.160757
3997  79.979995  0.00000  4.685960  180.78907   140.160757
3998  80.000000  0.00000  4.685960  180.78907   140.160757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_5_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570748  -79.997598  -300.000000
2      0.060015   0.240090  1.570652  -79.992795  -299.999999
3      0.080020   0.360120  1.570509  -79.985590  -299.999998
4      0.100025   0.480150  1.570317  -79.975985  -299.999994
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.565943  299.982112   249.836393
3995  79.939985  11.731341 -1.565991  299.747429   249.837527
3996  79.959990  11.746567 -1.566041  299.512442   249.838650
3997  79.979995  11.761617 -1.566093  299.277153   249.839763
3998  80.000000  11.776491 -1.566146  299.041567   249.840864

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_5_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -190.000001   480.000000
1      0.040010   0.12006 -1.570924 -190.002402   480.000000
2      0.060015   0.24009 -1.571155 -190.007205   479.999999
3      0.080020   0.36012 -1.571474 -190.014410   479.999995
4      0.100025   0.48015 -1.571865 -190.024015   479.999987
...         ...       ...       ...         ...          ...
3994  79.919980  12.00000 -4.712389  247.336719    90.000000
3995  79.939985  12.00000 -4.712389  247.576779    90.000000
3996  79.959990  12.00000 -4.712389  247.816839    90.000000
3997  79.979995  12.00000 -4.712389  248.056899    90.000000
3998  80.000000  12.00000 -4.712389  248.296959    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_5_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999    90.000000
1      0.040010  0.12006  1.570796  -39.997598    90.000000
2      0.060015  0.24009  1.570796  -39.992795    90.000000
3      0.080020  0.36012  1.570796  -39.985590    90.000000
4      0.100025  0.48015  1.570796  -39.975985    90.000000
...         ...      ...       ...         ...          ...
3994  79.919980  9.20000 -3.139604  210.008911   197.571558
3995  79.939985  9.20000 -3.139682  210.008552   197.387512
3996  79.959990  9.20000 -3.139756  210.008207   197.203466
3997  79.979995  9.20000 -3.139828  210.007876   197.019421
3998  80.000000  9.20000 -3.139898  210.007558   196.835375

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_5_V4.csv

           Time    Speed      Rotation    Position  Translation
0      0.020005  0.00003  1.570796e+00  100.000001  -300.000000
1      0.040010  0.12006  1.570960e+00  100.002402  -300.000000
2      0.060015  0.24009  1.571259e+00  100.007205  -300.000002
3      0.080020  0.36012  1.571669e+00  100.014410  -300.000007
4      0.100025  0.48015  1.572173e+00  100.024015  -300.000017
...         ...      ...           ...         ...          ...
3994  79.919980  0.00000 -2.580158e-13  370.000000   129.134413
3995  79.939985  0.00000 -2.580158e-13  370.000000   129.134413
3996  79.959990  0.00000 -2.580158e-13  370.000000   129.134413
3997  79.979995  0.00000 -2.580158e-13  370.000000   129.134413
3998  80.000000  0.00000 -2.580158e-13  370.000000   129.134413

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_5_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999365 -0.700994  357.585590   231.307444
3995  79.939985  12.999378 -0.705934  357.417372   231.505762
3996  79.959990  12.999391 -0.710874  357.248176   231.703246
3997  79.979995  12.999403 -0.715815  357.078006   231.899892
3998  80.000000  12.999415 -0.720756  356.906866   232.095695

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_5_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  0.792490 -239.000000     8.000000
1      0.040010   0.120060  0.792490 -238.998289     8.001687
2      0.060015   0.240090  0.792490 -238.994869     8.005059
3      0.080020   0.360120  0.792490 -238.989739     8.010117
4      0.100025   0.480150  0.792490 -238.982899     8.016860
...         ...        ...       ...         ...          ...
3994  79.919980  12.483648 -1.570796  262.813979   250.000000
3995  79.939985  12.490109 -1.570796  262.564115   250.000000
3996  79.959990  12.496437 -1.570796  262.314124   250.000000
3997  79.979995  12.502636 -1.570796  262.064008   250.000000
3998  80.000000  12.508709 -1.570796  261.813772   250.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_5_V7.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -219.999999    90.000000
1      0.040010   0.120060  1.570796 -219.997598    90.000000
2      0.060015   0.240090  1.570796 -219.992795    90.000000
3      0.080020   0.360120  1.570796 -219.985590    90.000000
4      0.100025   0.480150  1.570796 -219.975985    90.000000
...         ...        ...       ...         ...          ...
3994  79.919980  13.596028 -0.932174  214.472418   261.977155
3995  79.939985  13.600193 -0.927670  214.254332   262.139826
3996  79.959990  13.604274 -0.923166  214.036916   262.303526
3997  79.979995  13.608271 -0.918660  213.820177   262.468252
3998  80.000000  13.612186 -0.914153  213.604119   262.634002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_5_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030  1.570796 -199.999999  -300.000000
1      0.040010  0.120060  1.570796 -199.997598  -300.000000
2      0.060015  0.240088  1.570796 -199.992795  -300.000000
3      0.080020  0.357715  1.570796 -199.985639  -300.000000
4      0.100025  0.472941  1.570796 -199.976177  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  6.000000  1.570796  159.640296  -100.000001
3995  79.939985  6.000000  1.570796  159.760326  -100.000001
3996  79.959990  6.000000  1.570796  159.880356  -100.000001
3997  79.979995  6.000000  1.570796  160.000386  -100.000001
3998  80.000000  6.000000  1.570796  160.120416  -100.000001

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Road Merge Collision\Road Merge Collision_StuckAt_faultduration_5_V9.csv