In [5]:
import pandas as pd

for i in range (1,81):
    faultduration = ['0_6','1_2','1_8','2_4','3','3_6','4_2','5']
    for x in faultduration:
        Vehicle = ['_V1','_V2','_V3','_V4','_V5','_V6','_V7','_V8','_V9','_V10']
        for k in Vehicle:
            df = pd.DataFrame(list())
            df.to_csv('UrbanCityTraffic_StuckAt_faultduration_'+ x + k + '.csv')

In [6]:
Vehicle = ['_V1','_V2','_V3','_V4','_V5','_V6','_V7','_V8','_V9','_V10']
for k in Vehicle:
    df = pd.DataFrame(list())
    df.to_csv('UrbanCityTraffic_sample_faultfree_' + k + '.csv')

In [1]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
    df.columns = ["a","b","c","d","e","f","g","h","i"]
    df=df.drop(["c","d","e","h"],axis=1)
    df = df.rename(columns={"a": "Time", "b": "Speed", "f":"Rotation", "g":"Position", "i":"Translation"})
    df.to_csv(f,index=False)
    display(df)
    print(f)

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_0_6_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.864747 -200.860605  -299.939098
3995  79.939985  0.00000  7.864747 -200.860605  -299.939098
3996  79.959990  0.00000  7.864747 -200.860605  -299.939098
3997  79.979995  0.00000  7.864747 -200.860605  -299.939098
3998  80.000000  0.00000  7.864747 -200.860605  -299.939098

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_0_6_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.063075  369.942755  -370.983052
3995  79.939985  0.00000  0.063075  369.942755  -370.983052
3996  79.959990  0.00000  0.063075  369.942755  -370.983052
3997  79.979995  0.00000  0.063075  369.942755  -370.983052
3998  80.000000  0.00000  0.063075  369.942755  -370.983052

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_0_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_0_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_0_6_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_0_6_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999984  1.570796  225.353953  -100.000000
3995  79.939985  9.999984  1.570796  225.554003  -100.000000
3996  79.959990  9.999985  1.570796  225.754053  -100.000000
3997  79.979995  9.999985  1.570796  225.954102  -100.000000
3998  80.000000  9.999985  1.570796  226.154152  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_0_6_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_0_6_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_0_6_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_0_6_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_2_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001   -120.00000
1      0.040010  0.12006  4.712389 -340.002402   -120.00000
2      0.060015  0.24009  4.712389 -340.007205   -120.00000
3      0.080020  0.36012  4.712389 -340.014410   -120.00000
4      0.100025  0.48015  4.712389 -340.024015   -120.00000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866416 -200.994047   -299.93755
3995  79.939985  0.00000  7.866416 -200.994047   -299.93755
3996  79.959990  0.00000  7.866416 -200.994047   -299.93755
3997  79.979995  0.00000  7.866416 -200.994047   -299.93755
3998  80.000000  0.00000  7.866416 -200.994047   -299.93755

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_2_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.071941  369.933239  -370.963687
3995  79.939985  0.00000  0.071941  369.933239  -370.963687
3996  79.959990  0.00000  0.071941  369.933239  -370.963687
3997  79.979995  0.00000  0.071941  369.933239  -370.963687
3998  80.000000  0.00000  0.071941  369.933239  -370.963687

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_2_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_2_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999950  1.570796  223.059981  -100.000000
3995  79.939985  9.999951  1.570796  223.260030  -100.000000
3996  79.959990  9.999952  1.570796  223.460079  -100.000000
3997  79.979995  9.999953  1.570796  223.660128  -100.000000
3998  80.000000  9.999954  1.570796  223.860177  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_2_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_2_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_2_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_2_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_8_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.864971 -200.878544  -299.938903
3995  79.939985  0.00000  7.864971 -200.878544  -299.938903
3996  79.959990  0.00000  7.864971 -200.878544  -299.938903
3997  79.979995  0.00000  7.864971 -200.878544  -299.938903
3998  80.000000  0.00000  7.864971 -200.878544  -299.938903

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_8_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.080493  369.936331  -370.804995
3995  79.939985  0.00000  0.080493  369.936331  -370.804995
3996  79.959990  0.00000  0.080493  369.936331  -370.804995
3997  79.979995  0.00000  0.080493  369.936331  -370.804995
3998  80.000000  0.00000  0.080493  369.936331  -370.804995

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_8_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_8_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_8_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_8_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999900  1.570796  220.509656  -100.000000
3995  79.939985  9.999902  1.570796  220.709704  -100.000000
3996  79.959990  9.999904  1.570796  220.909752  -100.000000
3997  79.979995  9.999906  1.570796  221.109801  -100.000000
3998  80.000000  9.999908  1.570796  221.309849  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_8_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_8_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_8_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_1_8_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_2_4_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866118 -200.970178  -299.937843
3995  79.939985  0.00000  7.866118 -200.970178  -299.937843
3996  79.959990  0.00000  7.866118 -200.970178  -299.937843
3997  79.979995  0.00000  7.866118 -200.970178  -299.937843
3998  80.000000  0.00000  7.866118 -200.970178  -299.937843

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_2_4_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.091073  369.909812  -370.989189
3995  79.939985  0.00000  0.091073  369.909812  -370.989189
3996  79.959990  0.00000  0.091073  369.909812  -370.989189
3997  79.979995  0.00000  0.091073  369.909812  -370.989189
3998  80.000000  0.00000  0.091073  369.909812  -370.989189

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_2_4_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_2_4_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_2_4_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_2_4_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999806  1.570796  218.451346  -100.000000
3995  79.939985  9.999810  1.570796  218.651392  -100.000000
3996  79.959990  9.999814  1.570796  218.851438  -100.000000
3997  79.979995  9.999818  1.570796  219.051485  -100.000000
3998  80.000000  9.999822  1.570796  219.251531  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_2_4_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_2_4_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_2_4_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_2_4_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_6_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.865184 -200.895549  -299.938714
3995  79.939985  0.00000  7.865184 -200.895549  -299.938714
3996  79.959990  0.00000  7.865184 -200.895549  -299.938714
3997  79.979995  0.00000  7.865184 -200.895549  -299.938714
3998  80.000000  0.00000  7.865184 -200.895549  -299.938714

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_6_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.057157  369.956944  -370.906285
3995  79.939985  0.00000  0.057157  369.956944  -370.906285
3996  79.959990  0.00000  0.057157  369.956944  -370.906285
3997  79.979995  0.00000  0.057157  369.956944  -370.906285
3998  80.000000  0.00000  0.057157  369.956944  -370.906285

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_6_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_6_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999251  1.570796  213.176425  -100.000000
3995  79.939985  9.999266  1.570796  213.376460  -100.000000
3996  79.959990  9.999281  1.570796  213.576496  -100.000000
3997  79.979995  9.999296  1.570796  213.776532  -100.000000
3998  80.000000  9.999310  1.570796  213.976568  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_6_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_6_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_6_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_6_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.865598 -200.928628  -299.938337
3995  79.939985  0.00000  7.865598 -200.928628  -299.938337
3996  79.959990  0.00000  7.865598 -200.928628  -299.938337
3997  79.979995  0.00000  7.865598 -200.928628  -299.938337
3998  80.000000  0.00000  7.865598 -200.928628  -299.938337

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.053809  369.958929  -370.955374
3995  79.939985  0.00000  0.053809  369.958929  -370.955374
3996  79.959990  0.00000  0.053809  369.958929  -370.955374
3997  79.979995  0.00000  0.053809  369.958929  -370.955374
3998  80.000000  0.00000  0.053809  369.958929  -370.955374

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999604  1.570796  215.927425  -100.000000
3995  79.939985  9.999612  1.570796  216.127468  -100.000000
3996  79.959990  9.999620  1.570796  216.327510  -100.000000
3997  79.979995  9.999628  1.570796  216.527553  -100.000000
3998  80.000000  9.999635  1.570796  216.727595  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_3_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_4_2_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.865814 -200.945902  -299.938134
3995  79.939985  0.00000  7.865814 -200.945902  -299.938134
3996  79.959990  0.00000  7.865814 -200.945902  -299.938134
3997  79.979995  0.00000  7.865814 -200.945902  -299.938134
3998  80.000000  0.00000  7.865814 -200.945902  -299.938134

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_4_2_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.066448  369.945883  -370.893528
3995  79.939985  0.00000  0.066448  369.945883  -370.893528
3996  79.959990  0.00000  0.066448  369.945883  -370.893528
3997  79.979995  0.00000  0.066448  369.945883  -370.893528
3998  80.000000  0.00000  0.066448  369.945883  -370.893528

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_4_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_4_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_4_2_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_4_2_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.998612  1.570796  211.286835  -100.000000
3995  79.939985  9.998640  1.570796  211.486858  -100.000000
3996  79.959990  9.998668  1.570796  211.686882  -100.000000
3997  79.979995  9.998695  1.570796  211.886905  -100.000000
3998  80.000000  9.998722  1.570796  212.086930  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_4_2_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_4_2_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_4_2_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_4_2_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_5_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.864786 -200.863690  -299.939065
3995  79.939985  0.00000  7.864786 -200.863690  -299.939065
3996  79.959990  0.00000  7.864786 -200.863690  -299.939065
3997  79.979995  0.00000  7.864786 -200.863690  -299.939065
3998  80.000000  0.00000  7.864786 -200.863690  -299.939065

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_5_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999   -300.00000
1      0.040010  0.12006  1.570796 -199.997598   -300.00000
2      0.060015  0.24009  1.570796 -199.992795   -300.00000
3      0.080020  0.36012  1.570796 -199.985590   -300.00000
4      0.100025  0.48015  1.570796 -199.975985   -300.00000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.075561  369.929887   -370.97266
3995  79.939985  0.00000  0.075561  369.929887   -370.97266
3996  79.959990  0.00000  0.075561  369.929887   -370.97266
3997  79.979995  0.00000  0.075561  369.929887   -370.97266
3998  80.000000  0.00000  0.075561  369.929887   -370.97266

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_5_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_5_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_5_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_5_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.996754  1.570796  208.463271  -100.000000
3995  79.939985  9.996821  1.570796  208.663258  -100.000000
3996  79.959990  9.996885  1.570796  208.863246  -100.000000
3997  79.979995  9.996949  1.570796  209.063235  -100.000000
3998  80.000000  9.997011  1.570796  209.263225  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_5_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_5_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_5_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Noise_faultduration_5_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_0_6_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_0_6_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_0_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_0_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_0_6_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_0_6_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -530.000001  -120.000000
1      0.040010   0.12006 -1.570236 -530.002402  -119.999999
2      0.060015   0.24009 -1.569115 -530.007205  -119.999994
3      0.080020   0.36012 -1.567433 -530.014410  -119.999976
4      0.100025   0.48015 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  10.00000  1.570796  227.401419  -100.000000
3995  79.939985  10.00000  1.570796  227.601469  -100.000000
3996  79.959990  10.00000  1.570796  227.801519  -100.000000
3997  79.979995  10.00000  1.570796  228.001569  -100.000000
3998  80.000000  10.00000  1.570796  228.201619  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_0_6_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_0_6_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_0_6_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_0_6_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_2_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_2_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_2_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_2_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -530.000001  -120.000000
1      0.040010   0.12006 -1.570236 -530.002402  -119.999999
2      0.060015   0.24009 -1.569115 -530.007205  -119.999994
3      0.080020   0.36012 -1.567433 -530.014410  -119.999976
4      0.100025   0.48015 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  10.00000  1.570796  227.401419  -100.000000
3995  79.939985  10.00000  1.570796  227.601469  -100.000000
3996  79.959990  10.00000  1.570796  227.801519  -100.000000
3997  79.979995  10.00000  1.570796  228.001569  -100.000000
3998  80.000000  10.00000  1.570796  228.201619  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_2_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_2_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_2_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_2_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_8_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_8_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_8_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_8_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_8_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_8_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -530.000001  -120.000000
1      0.040010   0.12006 -1.570236 -530.002402  -119.999999
2      0.060015   0.24009 -1.569115 -530.007205  -119.999994
3      0.080020   0.36012 -1.567433 -530.014410  -119.999976
4      0.100025   0.48015 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  10.00000  1.570796  227.401419  -100.000000
3995  79.939985  10.00000  1.570796  227.601469  -100.000000
3996  79.959990  10.00000  1.570796  227.801519  -100.000000
3997  79.979995  10.00000  1.570796  228.001569  -100.000000
3998  80.000000  10.00000  1.570796  228.201619  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_8_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_8_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_8_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_1_8_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_2_4_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_2_4_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_2_4_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_2_4_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_2_4_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_2_4_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -530.000001  -120.000000
1      0.040010   0.12006 -1.570236 -530.002402  -119.999999
2      0.060015   0.24009 -1.569115 -530.007205  -119.999994
3      0.080020   0.36012 -1.567433 -530.014410  -119.999976
4      0.100025   0.48015 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  10.00000  1.570796  227.401419  -100.000000
3995  79.939985  10.00000  1.570796  227.601469  -100.000000
3996  79.959990  10.00000  1.570796  227.801519  -100.000000
3997  79.979995  10.00000  1.570796  228.001569  -100.000000
3998  80.000000  10.00000  1.570796  228.201619  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_2_4_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_2_4_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_2_4_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_2_4_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_6_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_6_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_6_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_6_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -530.000001  -120.000000
1      0.040010   0.12006 -1.570236 -530.002402  -119.999999
2      0.060015   0.24009 -1.569115 -530.007205  -119.999994
3      0.080020   0.36012 -1.567433 -530.014410  -119.999976
4      0.100025   0.48015 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  10.00000  1.570796  227.401419  -100.000000
3995  79.939985  10.00000  1.570796  227.601469  -100.000000
3996  79.959990  10.00000  1.570796  227.801519  -100.000000
3997  79.979995  10.00000  1.570796  228.001569  -100.000000
3998  80.000000  10.00000  1.570796  228.201619  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_6_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_6_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_6_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_6_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -530.000001  -120.000000
1      0.040010   0.12006 -1.570236 -530.002402  -119.999999
2      0.060015   0.24009 -1.569115 -530.007205  -119.999994
3      0.080020   0.36012 -1.567433 -530.014410  -119.999976
4      0.100025   0.48015 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  10.00000  1.570796  227.401419  -100.000000
3995  79.939985  10.00000  1.570796  227.601469  -100.000000
3996  79.959990  10.00000  1.570796  227.801519  -100.000000
3997  79.979995  10.00000  1.570796  228.001569  -100.000000
3998  80.000000  10.00000  1.570796  228.201619  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_3_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_4_2_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_4_2_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_4_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_4_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_4_2_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_4_2_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -530.000001  -120.000000
1      0.040010   0.12006 -1.570236 -530.002402  -119.999999
2      0.060015   0.24009 -1.569115 -530.007205  -119.999994
3      0.080020   0.36012 -1.567433 -530.014410  -119.999976
4      0.100025   0.48015 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  10.00000  1.570796  227.401419  -100.000000
3995  79.939985  10.00000  1.570796  227.601469  -100.000000
3996  79.959990  10.00000  1.570796  227.801519  -100.000000
3997  79.979995  10.00000  1.570796  228.001569  -100.000000
3998  80.000000  10.00000  1.570796  228.201619  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_4_2_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_4_2_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_4_2_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_4_2_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_5_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_5_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_5_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_5_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_5_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_5_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -530.000001  -120.000000
1      0.040010   0.12006 -1.570236 -530.002402  -119.999999
2      0.060015   0.24009 -1.569115 -530.007205  -119.999994
3      0.080020   0.36012 -1.567433 -530.014410  -119.999976
4      0.100025   0.48015 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  10.00000  1.570796  227.401419  -100.000000
3995  79.939985  10.00000  1.570796  227.601469  -100.000000
3996  79.959990  10.00000  1.570796  227.801519  -100.000000
3997  79.979995  10.00000  1.570796  228.001569  -100.000000
3998  80.000000  10.00000  1.570796  228.201619  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_5_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_5_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_5_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_Offset_faultduration_5_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_sample_FaultFree_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_sample_FaultFree_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_sample_FaultFree_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_sample_FaultFree_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_sample_FaultFree_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_sample_FaultFree_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -530.000001  -120.000000
1      0.040010   0.12006 -1.570236 -530.002402  -119.999999
2      0.060015   0.24009 -1.569115 -530.007205  -119.999994
3      0.080020   0.36012 -1.567433 -530.014410  -119.999976
4      0.100025   0.48015 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  10.00000  1.570796  227.401419  -100.000000
3995  79.939985  10.00000  1.570796  227.601469  -100.000000
3996  79.959990  10.00000  1.570796  227.801519  -100.000000
3997  79.979995  10.00000  1.570796  228.001569  -100.000000
3998  80.000000  10.00000  1.570796  228.201619  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_sample_FaultFree_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_sample_FaultFree_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_sample_FaultFree_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_sample_FaultFree_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_0_6_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_0_6_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_0_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_0_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_0_6_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_0_6_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999687  1.570796  209.582809  -100.000000
3995  79.939985  9.999693  1.570796  209.782853  -100.000000
3996  79.959990  9.999700  1.570796  209.982897  -100.000000
3997  79.979995  9.999706  1.570796  210.182941  -100.000000
3998  80.000000  9.999712  1.570796  210.382986  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_0_6_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_0_6_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_0_6_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_0_6_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_2_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_2_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_2_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_2_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999034  1.570796  190.274421  -100.000000
3995  79.939985  9.999053  1.570796  190.474452  -100.000000
3996  79.959990  9.999073  1.570796  190.674484  -100.000000
3997  79.979995  9.999092  1.570796  190.874516  -100.000000
3998  80.000000  9.999110  1.570796  191.074548  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_2_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_2_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_2_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_2_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_8_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_8_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_8_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_8_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_8_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_8_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.997735  1.570796  170.948568  -100.000000
3995  79.939985  9.997781  1.570796  171.148574  -100.000000
3996  79.959990  9.997826  1.570796  171.348581  -100.000000
3997  79.979995  9.997870  1.570796  171.548588  -100.000000
3998  80.000000  9.997914  1.570796  171.748596  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_8_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_8_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_8_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_1_8_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_2_4_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_2_4_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_2_4_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_2_4_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_2_4_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_2_4_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.995233  1.570796  151.866074  -100.000000
3995  79.939985  9.995330  1.570796  152.066031  -100.000000
3996  79.959990  9.995425  1.570796  152.265990  -100.000000
3997  79.979995  9.995519  1.570796  152.465950  -100.000000
3998  80.000000  9.995610  1.570796  152.665912  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_2_4_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_2_4_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_2_4_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_2_4_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_6_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_6_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_6_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_6_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.981771  1.570796  114.780529  -100.000000
3995  79.939985  9.982144  1.570796  114.980222  -100.000000
3996  79.959990  9.982508  1.570796  115.179922  -100.000000
3997  79.979995  9.982865  1.570796  115.379629  -100.000000
3998  80.000000  9.983215  1.570796  115.579344  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_6_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_6_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_6_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_6_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.990560  1.570796  133.238302  -100.000000
3995  79.939985  9.990753  1.570796  133.438167  -100.000000
3996  79.959990  9.990942  1.570796  133.638036  -100.000000
3997  79.979995  9.991127  1.570796  133.837908  -100.000000
3998  80.000000  9.991308  1.570796  134.037784  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_3_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_4_2_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_4_2_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_4_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_4_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_4_2_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_4_2_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.965497  1.570796   96.571430  -100.000000
3995  79.939985  9.966202  1.570796   96.770804  -100.000000
3996  79.959990  9.966892  1.570796   96.970191  -100.000000
3997  79.979995  9.967568  1.570796   97.169593  -100.000000
3998  80.000000  9.968230  1.570796   97.369007  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_4_2_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_4_2_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_4_2_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_4_2_V9.csv

           Time     Speed  Rotation   Position  Translation
0      0.020005  0.000015  1.570796 -80.000000         -300
1      0.040010  0.060030  1.570796 -79.998799         -300
2      0.060015  0.120044  1.570796 -79.996397         -300
3      0.080020  0.178858  1.570796 -79.992819         -300
4      0.100025  0.236471  1.570796 -79.988089         -300
...         ...       ...       ...        ...          ...
3994  79.919980  0.000000  1.570796  99.040000         -300
3995  79.939985  0.000000  1.570796  99.040000         -300
3996  79.959990  0.000000  1.570796  99.040000         -300
3997  79.979995  0.000000  1.570796  99.040000         -300
3998  80.000000  0.000000  1.570796  99.040000         -300

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_5_V1.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  4.712389 -340.000001  -120.000000
1      0.040010  0.12006  4.712389 -340.002402  -120.000000
2      0.060015  0.24009  4.712389 -340.007205  -120.000000
3      0.080020  0.36012  4.712389 -340.014410  -120.000000
4      0.100025  0.48015  4.712389 -340.024015  -120.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  7.866375 -200.990737  -299.937591
3995  79.939985  0.00000  7.866375 -200.990737  -299.937591
3996  79.959990  0.00000  7.866375 -200.990737  -299.937591
3997  79.979995  0.00000  7.866375 -200.990737  -299.937591
3998  80.000000  0.00000  7.866375 -200.990737  -299.937591

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_5_V10.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.056700  369.951875  -370.969992
3995  79.939985  0.00000  0.056700  369.951875  -370.969992
3996  79.959990  0.00000  0.056700  369.951875  -370.969992
3997  79.979995  0.00000  0.056700  369.951875  -370.969992
3998  80.000000  0.00000  0.056700  369.951875  -370.969992

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_5_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000015  2.094396  470.000000    40.850000
1      0.040010  0.060030  2.094428  470.001040    40.849399
2      0.060015  0.120044  2.094489  470.003120    40.848199
3      0.080020  0.178858  2.094576  470.006218    40.846409
4      0.100025  0.236471  2.094686  470.010315    40.844043
...         ...       ...       ...         ...          ...
3994  79.919980  3.000000  3.429383  551.388801  -163.150616
3995  79.939985  3.000000  3.429721  551.371757  -163.208160
3996  79.959990  3.000000  3.430060  551.354693  -163.265698
3997  79.979995  3.000000  3.430398  551.337610  -163.323231
3998  80.000000  3.000000  3.430736  551.320508  -163.380757

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_5_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  329.066400           90
3995  79.939985  0.00000  1.570796  329.066400           90
3996  79.959990  0.00000  1.570796  329.066400           90
3997  79.979995  0.00000  1.570796  329.066400           90
3998  80.000000  0.00000  1.570796  329.066400           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_5_V4.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796  100.000001  -300.000000
1      0.040010   0.12006  1.570960  100.002402  -300.000000
2      0.060015   0.24009  1.571259  100.007205  -300.000002
3      0.080020   0.36012  1.571669  100.014410  -300.000007
4      0.100025   0.48015  1.572173  100.024015  -300.000017
...         ...       ...       ...         ...          ...
3994  79.919980  14.00000 -1.571012  295.024943   250.001342
3995  79.939985  14.00000 -1.571003  294.744873   250.001283
3996  79.959990  14.00000 -1.570994  294.464803   250.001227
3997  79.979995  14.00000 -1.570985  294.184733   250.001173
3998  80.000000  14.00000 -1.570977  293.904663   250.001121

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_5_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.920404  1.570796   72.488845  -100.000000
3995  79.939985  9.922029  1.570796   72.687335  -100.000000
3996  79.959990  9.923621  1.570796   72.885857  -100.000000
3997  79.979995  9.925181  1.570796   73.084410  -100.000000
3998  80.000000  9.926709  1.570796   73.282994  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_5_V6.csv

           Time         Speed  Rotation   Position  Translation
0      0.020005  5.001250e-07  4.712389  90.000000         -450
1      0.040010  2.001000e-03  4.712389  89.999960         -450
2      0.060015  4.001470e-03  4.712389  89.999880         -450
3      0.080020  5.961920e-03  4.712389  89.999761         -450
4      0.100025  7.882352e-03  4.712389  89.999603         -450
...         ...           ...       ...        ...          ...
3994  79.919980  1.000000e-01  4.712389  82.106002         -450
3995  79.939985  1.000000e-01  4.712389  82.104002         -450
3996  79.959990  1.000000e-01  4.712389  82.102001         -450
3997  79.979995  1.000000e-01  4.712389  82.100001         -450
3998  80.000000  1.000000e-01  4.712389  82.098000         -450

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_5_V7.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005  0.000020 -1.570796e+00 -200.000000  -450.000000
1      0.040010  0.080040 -1.570720e+00 -200.001602  -450.000000
2      0.060015  0.160059 -1.570577e+00 -200.004804  -449.999999
3      0.080020  0.238477 -1.570376e+00 -200.009574  -449.999998
4      0.100025  0.315294 -1.570127e+00 -200.015882  -449.999995
...         ...       ...           ...         ...          ...
3994  79.919980  4.000000 -6.721290e-13 -300.000000  -191.251111
3995  79.939985  4.000000 -6.721290e-13 -300.000000  -191.171091
3996  79.959990  4.000000 -6.721290e-13 -300.000000  -191.091071
3997  79.979995  4.000000 -6.721290e-13 -300.000000  -191.011051
3998  80.000000  4.000000 -6.721290e-13 -300.000000  -190.931031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_5_V8.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -139.999999           90
1      0.040010  1.200600e-01  1.570796 -139.997598           90
2      0.060015  2.400900e-01  1.570796 -139.992795           90
3      0.080020  3.601200e-01  1.570796 -139.985590           90
4      0.100025  4.801500e-01  1.570796 -139.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  6.275020e-11  1.570796  294.647954           90
3995  79.939985  6.146871e-11  1.570796  294.647954           90
3996  79.959990  6.021340e-11  1.570796  294.647954           90
3997  79.979995  5.898373e-11  1.570796  294.647954           90
3998  80.000000  5.777916e-11  1.570796  294.647954           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Urban City Traffic\Urban City Traffic_StuckAt_faultduration_5_V9.csv