In [1]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
    df.columns = ['Time','Speed','Rotation','Position','Translation']
    df.to_csv(f,index=False)
    display(df)
    print(f)

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.999188  2.360334e-13  370.000000   117.558970
3995  79.939985  12.999205  2.360334e-13  370.000000   117.819019
3996  79.959990  12.999221  2.360334e-13  370.000000   118.079068
3997  79.979995  12.999237  2.360334e-13  370.000000   118.339118
3998  80.000000  12.999253  2.360334e-13  370.000000   118.599168

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Platoon Controlfault_Offset_1_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.999188 -1.571679  304.223690   250.006454
3995  79.939985  14.999205 -1.571650  303.923631   250.006193
3996  79.959990  14.999221 -1.571621  303.623571   250.005941
3997  79.979995  14.999237 -1.571593  303.323512   250.005698
3998  80.000000  14.999253 -1.571565  303.023452   250.005463

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Platoon Controlfault_Offset_1_V6.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.987093  3.452971e-13  370.000000    78.427597
3995  79.939985  12.987357  3.301917e-13  370.000000    78.687409
3996  79.959990  12.987615  3.177520e-13  370.000000    78.947226
3997  79.979995  12.987868  3.062024e-13  370.000000    79.207048
3998  80.000000  12.988116  2.964295e-13  370.000000    79.466875

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Platoon Controlfault_Offset_2_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.987093 -1.045779  343.754541   242.896885
3995  79.939985  14.987357 -1.051480  343.494674   243.046425
3996  79.959990  14.987615 -1.057182  343.233954   243.194482
3997  79.979995  14.987868 -1.062884  342.972389   243.341053
3998  80.000000  14.988116 -1.068586  342.709988   243.486132

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Platoon Controlfault_Offset_2_V6.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.997528  6.660315e-12  370.000000    64.273110
3995  79.939985  12.997579  6.364464e-12  370.000000    64.533127
3996  79.959990  12.997628  6.081943e-12  370.000000    64.793144
3997  79.979995  12.997677  5.812751e-12  370.000000    65.053163
3998  80.000000  12.997724  5.554224e-12  370.000000    65.313182

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Platoon Controlfault_Offset_3_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.997363 -0.763272  355.397538   233.742753
3995  79.939985  14.997417 -0.768972  355.189519   233.958951
3996  79.959990  14.997469 -0.774672  354.980269   234.173961
3997  79.979995  14.997521 -0.780373  354.769797   234.387775
3998  80.000000  14.997572 -0.786074  354.558109   234.600386

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Platoon Controlfault_Offset_3_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.716182 -1.570487  312.796539   250.009610
3995  79.939985  11.731580 -1.570673  312.561849   250.009661
3996  79.959990  11.746801 -1.570837  312.326854   250.009671
3997  79.979995  11.761846 -1.570981  312.091558   250.009644
3998  80.000000  11.776716 -1.571106  311.855965   250.009586

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Road Merge Collisionfault_Offset_1_V2.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  3.141593e+00  170.000000  -370.000001
1      0.040010   0.120060  3.141478e+00  170.000000  -370.002402
2      0.060015   0.240090  3.141270e+00  170.000001  -370.007205
3      0.080020   0.360120  3.140984e+00  170.000005  -370.014410
4      0.100025   0.480150  3.140632e+00  170.000012  -370.024015
...         ...        ...           ...         ...          ...
3994  79.919980  12.999188 -2.362555e-13  370.000000    79.042922
3995  79.939985  12.999205 -2.362555e-13  370.000000    79.302971
3996  79.959990  12.999221 -2.362555e-13  370.000000    79.563020
3997  79.979995  12.999237 -2.362555e-13  370.000000    79.823070
3998  80.000000  12.999252 -2.362555e-13  370.000000    80.083120

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Road Merge Collisionfault_Offset_1_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  12.887093 -1.451099  323.678498   249.602494
3995  79.939985  12.887357 -1.456003  323.422457   249.632653
3996  79.959990  12.887615 -1.460906  323.166266   249.661555
3997  79.979995  12.887868 -1.465810  322.909931   249.689202
3998  80.000000  12.888116 -1.470713  322.653458   249.715592

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Road Merge Collisionfault_Offset_2_V2.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  3.141593e+00  170.000000  -370.000001
1      0.040010   0.120060  3.141478e+00  170.000000  -370.002402
2      0.060015   0.240090  3.141270e+00  170.000001  -370.007205
3      0.080020   0.360120  3.140984e+00  170.000005  -370.014410
4      0.100025   0.480150  3.140632e+00  170.000012  -370.024015
...         ...        ...           ...         ...          ...
3994  79.919980  12.987093 -2.360334e-13  370.000000    43.886344
3995  79.939985  12.987357 -2.360334e-13  370.000000    44.146156
3996  79.959990  12.987615 -2.360334e-13  370.000000    44.405973
3997  79.979995  12.987868 -2.360334e-13  370.000000    44.665796
3998  80.000000  12.988116 -2.360334e-13  370.000000    44.925623

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Road Merge Collisionfault_Offset_2_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  12.897528 -1.140380  339.338502   245.183085
3995  79.939985  12.897579 -1.145287  339.103756   245.290166
3996  79.959990  12.897628 -1.150195  338.868486   245.396095
3997  79.979995  12.897677 -1.155102  338.632699   245.500868
3998  80.000000  12.897724 -1.160009  338.396399   245.604483

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Road Merge Collisionfault_Offset_3_V2.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  3.141593e+00  170.000000  -370.000001
1      0.040010   0.120060  3.141478e+00  170.000000  -370.002402
2      0.060015   0.240090  3.141270e+00  170.000001  -370.007205
3      0.080020   0.360120  3.140984e+00  170.000005  -370.014410
4      0.100025   0.480150  3.140632e+00  170.000012  -370.024015
...         ...        ...           ...         ...          ...
3994  79.919980  12.997528 -2.364775e-13  370.000000    33.007906
3995  79.939985  12.997579 -2.364775e-13  370.000000    33.267923
3996  79.959990  12.997628 -2.364775e-13  370.000000    33.527940
3997  79.979995  12.997677 -2.364775e-13  370.000000    33.787959
3998  80.000000  12.997724 -2.364775e-13  370.000000    34.047978

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Road Merge Collisionfault_Offset_3_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020912  369.961499  -370.770216
3995  79.939985  0.00000  0.020912  369.961499  -370.770216
3996  79.959990  0.00000  0.020912  369.961499  -370.770216
3997  79.979995  0.00000  0.020912  369.961499  -370.770216
3998  80.000000  0.00000  0.020912  369.961499  -370.770216

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Urban City Trafficfault_Offset_1_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999188  1.570796  171.405835  -100.000000
3995  79.939985  9.999205  1.570796  171.605870  -100.000000
3996  79.959990  9.999221  1.570796  171.805904  -100.000000
3997  79.979995  9.999237  1.570796  172.005939  -100.000000
3998  80.000000  9.999253  1.570796  172.205974  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Urban City Trafficfault_Offset_1_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020994  369.960938  -370.801064
3995  79.939985  0.00000  0.020994  369.960938  -370.801064
3996  79.959990  0.00000  0.020994  369.960938  -370.801064
3997  79.979995  0.00000  0.020994  369.960938  -370.801064
3998  80.000000  0.00000  0.020994  369.960938  -370.801064

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Urban City Trafficfault_Offset_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.987093  1.570796  131.418021  -100.000000
3995  79.939985  9.987357  1.570796  131.617818  -100.000000
3996  79.959990  9.987615  1.570796  131.817621  -100.000000
3997  79.979995  9.987868  1.570796  132.017428  -100.000000
3998  80.000000  9.988116  1.570796  132.217240  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Urban City Trafficfault_Offset_2_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020843  369.957118  -370.990578
3995  79.939985  0.00000  0.020843  369.957118  -370.990578
3996  79.959990  0.00000  0.020843  369.957118  -370.990578
3997  79.979995  0.00000  0.020843  369.957118  -370.990578
3998  80.000000  0.00000  0.020843  369.957118  -370.990578

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Urban City Trafficfault_Offset_3_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.997528  1.570796  113.411321  -100.000000
3995  79.939985  9.997579  1.570796  113.611323  -100.000000
3996  79.959990  9.997628  1.570796  113.811326  -100.000000
3997  79.979995  9.997677  1.570796  114.011329  -100.000000
3998  80.000000  9.997724  1.570796  114.211334  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Offset\CSV files\Urban City Trafficfault_Offset_3_V6.csv

In [7]:
import pandas as pd  

df_source1 = pd.read_csv('sample_3_V6.csv') 
df_source2 = pd.read_csv('Platoon Controlfault_Offset_3_V6.csv') 
df_source3 = pd.read_csv('Road Merge Collisionfault_Offset_3_V6.csv')
df_source4 = pd.read_csv('Urban City Trafficfault_Offset_3_V6.csv')

df_source2["Label"]=df_source1["Label"]
df_source3["Label"]=df_source1["Label"]
df_source4["Label"]=df_source1["Label"]


df_source2.to_csv('Platoon Controlfault_Offset_3_V6.csv',index=False) 
df_source3.to_csv('Road Merge Collisionfault_Offset_3_V6.csv',index=False) 
df_source4.to_csv('Urban City Trafficfault_Offset_3_V6.csv',index=False)

In [9]:
import pandas as pd
import glob
import os
 
path = os.getcwd()    
# merging the files
files = os.path.join(path,"*.csv")
  
# A list of all joined files is returned
files = glob.glob(files)
  
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
df.to_csv('Offset_Data.csv', index=False)
print(df)

            Time     Speed  Rotation    Position  Translation  Label
0       0.020005  0.000030  1.570796 -199.999999       -300.0      0
1       0.040010  0.120060  1.570796 -199.997598       -300.0      0
2       0.060015  0.240090  1.570796 -199.992795       -300.0      0
3       0.080020  0.360120  1.570796 -199.985590       -300.0      0
4       0.100025  0.480150  1.570796 -199.975985       -300.0      0
...          ...       ...       ...         ...          ...    ...
71977  79.919980  9.997528  1.570796  113.411321       -100.0      0
71978  79.939985  9.997579  1.570796  113.611323       -100.0      0
71979  79.959990  9.997628  1.570796  113.811326       -100.0      0
71980  79.979995  9.997677  1.570796  114.011329       -100.0      0
71981  80.000000  9.997724  1.570796  114.211334       -100.0      0

[71982 rows x 6 columns]