In [2]:
import pandas as pd
df = pd.read_csv('Platoon Controlfault_Noise_20_V2.csv')

In [4]:
df.columns = ['Time','Speed','Rotation','Position','Translation']

In [6]:
df.to_csv('Platoon Controlfault_Noise_20_V2.csv', index=False)

In [7]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
    df.columns = ['Time','Speed','Rotation','Position','Translation']
    df.to_csv(f,index=False)
    display(df)
    print(f)

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.998527  2.282619e-13  370.000000   140.257955
3995  79.939985  12.998558  2.282619e-13  370.000000   140.517991
3996  79.959990  12.998587  2.282619e-13  370.000000   140.778027
3997  79.979995  12.998616  2.282619e-13  370.000000   141.038065
3998  80.000000  12.998644  2.282619e-13  370.000000   141.298103

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Platoon Controlfault_Noise_20_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.998196 -1.570824  280.733886   250.000178
3995  79.939985  14.998232 -1.570822  280.433846   250.000170
3996  79.959990  14.998268 -1.570821  280.133806   250.000163
3997  79.979995  14.998304 -1.570820  279.833765   250.000155
3998  80.000000  14.998338 -1.570819  279.533723   250.000148

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Platoon Controlfault_Noise_20_V6.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.993599  2.282619e-13  370.000000   121.558471
3995  79.939985  12.993730  2.282619e-13  370.000000   121.818410
3996  79.959990  12.993858  2.282619e-13  370.000000   122.078352
3997  79.979995  12.993984  2.282619e-13  370.000000   122.338297
3998  80.000000  12.994106  2.282619e-13  370.000000   122.598244

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Platoon Controlfault_Noise_30_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.993263 -1.571512  302.907868   250.005085
3995  79.939985  14.993400 -1.571486  302.607925   250.004874
3996  79.959990  14.993535 -1.571461  302.307979   250.004671
3997  79.979995  14.993667 -1.571436  302.008031   250.004475
3998  80.000000  14.993797 -1.571412  301.708080   250.004287

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Platoon Controlfault_Noise_30_V6.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.998965  2.366995e-13  370.000000    96.097797
3995  79.939985  12.998987  2.366995e-13  370.000000    96.357842
3996  79.959990  12.999007  2.366995e-13  370.000000    96.617887
3997  79.979995  12.999028  2.366995e-13  370.000000    96.877932
3998  80.000000  12.999047  2.366995e-13  370.000000    97.137978

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Platoon Controlfault_Noise_40_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.998795 -1.279769  332.486843   247.767732
3995  79.939985  14.998820 -1.285476  332.199165   247.853007
3996  79.959990  14.998844 -1.291182  331.911004   247.936639
3997  79.979995  14.998868 -1.296889  331.622370   248.018626
3998  80.000000  14.998891 -1.302596  331.333273   248.098964

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Platoon Controlfault_Noise_40_V6.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.998648  2.366995e-13  370.000000   106.379726
3995  79.939985  12.998675  2.366995e-13  370.000000   106.639764
3996  79.959990  12.998702  2.366995e-13  370.000000   106.899803
3997  79.979995  12.998729  2.366995e-13  370.000000   107.159843
3998  80.000000  12.998755  2.366995e-13  370.000000   107.419883

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Platoon Controlfault_Noise_50_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.998527 -1.526335  319.805843   249.923128
3995  79.939985  14.998557 -1.531669  319.506060   249.935665
3996  79.959990  14.998587 -1.536415  319.206216   249.946690
3997  79.979995  14.998616 -1.540635  318.906325   249.956372
3998  80.000000  14.998644 -1.544385  318.606397   249.964858

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Platoon Controlfault_Noise_50_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.570583  312.625704   250.009322
3995  79.939985  11.731341 -1.570752  312.391019   250.009352
3996  79.959990  11.746567 -1.570902  312.156029   250.009345
3997  79.979995  11.761617 -1.571032  311.920738   250.009304
3998  80.000000  11.776491 -1.571146  311.685149   250.009235

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Road Merge Collisionfault_Noise_20_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.998472 -0.233457  368.688360   209.199647
3995  79.939985  12.998503 -0.238189  368.627604   209.452484
3996  79.959990  12.998533 -0.242920  368.565653   209.705032
3997  79.979995  12.998563 -0.247652  368.502508   209.957285
3998  80.000000  12.998593 -0.252383  368.438170   210.209237

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Road Merge Collisionfault_Noise_20_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715941 -1.570364  312.868463   250.009133
3995  79.939985  11.731344 -1.570559  312.633777   250.009212
3996  79.959990  11.746570 -1.570730  312.398787   250.009248
3997  79.979995  11.761620 -1.570880  312.163496   250.009246
3998  80.000000  11.776494 -1.571012  311.927907   250.009210

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Road Merge Collisionfault_Noise_30_V2.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  3.141593e+00  170.000000  -370.000001
1      0.040010   0.120060  3.141478e+00  170.000000  -370.002402
2      0.060015   0.240090  3.141270e+00  170.000001  -370.007205
3      0.080020   0.360120  3.140984e+00  170.000005  -370.014410
4      0.100025   0.480150  3.140632e+00  170.000012  -370.024015
...         ...        ...           ...         ...          ...
3994  79.919980  12.993352 -2.384759e-13  370.000000   190.874345
3995  79.939985  12.993487 -2.384759e-13  370.000000   191.134279
3996  79.959990  12.993620 -2.384759e-13  370.000000   191.394217
3997  79.979995  12.993751 -2.384759e-13  370.000000   191.654157
3998  80.000000  12.993878 -2.384759e-13  370.000000   191.914099

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Road Merge Collisionfault_Noise_30_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.756385 -1.569958  313.176106   250.008180
3995  79.939985  11.770962 -1.570188  312.940628   250.008350
3996  79.959990  11.785379 -1.570393  312.704862   250.008469
3997  79.979995  11.799636 -1.570573  312.468810   250.008543
3998  80.000000  11.813734 -1.570733  312.232476   250.008577

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Road Merge Collisionfault_Noise_40_V2.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  3.141593e+00  170.000000  -370.000001
1      0.040010   0.120060  3.141478e+00  170.000000  -370.002402
2      0.060015   0.240090  3.141270e+00  170.000001  -370.007205
3      0.080020   0.360120  3.140984e+00  170.000005  -370.014410
4      0.100025   0.480150  3.140632e+00  170.000012  -370.024015
...         ...        ...           ...         ...          ...
3994  79.919980  12.998936 -2.362555e-13  370.000000    64.611021
3995  79.939985  12.998958 -2.362555e-13  370.000000    64.871065
3996  79.959990  12.998979 -2.362555e-13  370.000000    65.131110
3997  79.979995  12.999000 -2.362555e-13  370.000000    65.391155
3998  80.000000  12.999021 -2.362555e-13  370.000000    65.651200

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Road Merge Collisionfault_Noise_40_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.716083 -1.570334  312.885915   250.009011
3995  79.939985  11.731483 -1.570530  312.651226   250.009096
3996  79.959990  11.746706 -1.570703  312.416234   250.009139
3997  79.979995  11.761753 -1.570855  312.180940   250.009143
3998  80.000000  11.776625 -1.570988  311.945349   250.009113

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Road Merge Collisionfault_Noise_50_V2.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  3.141593e+00  170.000000  -370.000001
1      0.040010   0.120060  3.141478e+00  170.000000  -370.002402
2      0.060015   0.240090  3.141270e+00  170.000001  -370.007205
3      0.080020   0.360120  3.140984e+00  170.000005  -370.014410
4      0.100025   0.480150  3.140632e+00  170.000012  -370.024015
...         ...        ...           ...         ...          ...
3994  79.919980  12.998738 -2.366995e-13  370.000000   178.063689
3995  79.939985  12.998764 -2.366995e-13  370.000000   178.323729
3996  79.959990  12.998789 -2.366995e-13  370.000000   178.583770
3997  79.979995  12.998814 -2.366995e-13  370.000000   178.843811
3998  80.000000  12.998838 -2.366995e-13  370.000000   179.103853

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Road Merge Collisionfault_Noise_50_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020668  369.959070  -370.881452
3995  79.939985  0.00000  0.020668  369.959070  -370.881452
3996  79.959990  0.00000  0.020668  369.959070  -370.881452
3997  79.979995  0.00000  0.020668  369.959070  -370.881452
3998  80.000000  0.00000  0.020668  369.959070  -370.881452

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Urban City Trafficfault_Noise_20_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.998825  1.570796  206.051588  -100.000000
3995  79.939985  9.998849  1.570796  206.251615  -100.000000
3996  79.959990  9.998873  1.570796  206.451642  -100.000000
3997  79.979995  9.998896  1.570796  206.651670  -100.000000
3998  80.000000  9.998918  1.570796  206.851699  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Urban City Trafficfault_Noise_20_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020754  369.958799  -370.901727
3995  79.939985  0.00000  0.020754  369.958799  -370.901727
3996  79.959990  0.00000  0.020754  369.958799  -370.901727
3997  79.979995  0.00000  0.020754  369.958799  -370.901727
3998  80.000000  0.00000  0.020754  369.958799  -370.901727

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Urban City Trafficfault_Noise_30_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.995027  1.570796  191.084938  -100.000000
3995  79.939985  9.995129  1.570796  191.284890  -100.000000
3996  79.959990  9.995228  1.570796  191.484845  -100.000000
3997  79.979995  9.995326  1.570796  191.684801  -100.000000
3998  80.000000  9.995421  1.570796  191.884760  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Urban City Trafficfault_Noise_30_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020774  369.958324  -370.926985
3995  79.939985  0.00000  0.020774  369.958324  -370.926985
3996  79.959990  0.00000  0.020774  369.958324  -370.926985
3997  79.979995  0.00000  0.020774  369.958324  -370.926985
3998  80.000000  0.00000  0.020774  369.958324  -370.926985

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Urban City Trafficfault_Noise_40_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999171  1.570796  171.572372  -100.000000
3995  79.939985  9.999188  1.570796  171.772406  -100.000000
3996  79.959990  9.999205  1.570796  171.972440  -100.000000
3997  79.979995  9.999221  1.570796  172.172474  -100.000000
3998  80.000000  9.999237  1.570796  172.372509  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Urban City Trafficfault_Noise_40_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020903  369.958436  -370.925736
3995  79.939985  0.00000  0.020903  369.958436  -370.925736
3996  79.959990  0.00000  0.020903  369.958436  -370.925736
3997  79.979995  0.00000  0.020903  369.958436  -370.925736
3998  80.000000  0.00000  0.020903  369.958436  -370.925736

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Urban City Trafficfault_Noise_50_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.999020  1.570796  179.860453  -100.000000
3995  79.939985  9.999040  1.570796  180.060484  -100.000000
3996  79.959990  9.999059  1.570796  180.260515  -100.000000
3997  79.979995  9.999078  1.570796  180.460546  -100.000000
3998  80.000000  9.999097  1.570796  180.660578  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\Noise\CSV files\Urban City Trafficfault_Noise_50_V6.csv

In [11]:
import pandas as pd  
df_source1 = pd.read_csv('Platoon Controlfault_Noise_50_V2.csv') 
df_source2 = pd.read_csv('Platoon Controlfault_Noise_50_V6.csv') 
df_source3 = pd.read_csv('Road Merge Collisionfault_Noise_50_V2.csv')
df_source4 = pd.read_csv('Road Merge Collisionfault_Noise_50_V6.csv')
df_source5 = pd.read_csv('Urban City Trafficfault_Noise_50_V2.csv')
df_source6 = pd.read_csv('Urban City Trafficfault_Noise_50_V6.csv')

df_source2["Label"]=df_source1["Label"]
df_source3["Label"]=df_source1["Label"]
df_source4["Label"]=df_source1["Label"]
df_source5["Label"]=df_source1["Label"]
df_source6["Label"]=df_source1["Label"]

df_source2.to_csv('Platoon Controlfault_Noise_50_V6.csv',index=False) 
df_source3.to_csv('Road Merge Collisionfault_Noise_50_V2.csv',index=False) 
df_source4.to_csv('Road Merge Collisionfault_Noise_50_V6.csv',index=False) 
df_source5.to_csv('Urban City Trafficfault_Noise_50_V2.csv',index=False) 
df_source6.to_csv('Urban City Trafficfault_Noise_50_V6.csv',index=False)

In [12]:
import pandas as pd
import glob
import os
 
path = os.getcwd()    
# merging the files
files = os.path.join(path,"*.csv")
  
# A list of all joined files is returned
files = glob.glob(files)
  
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
df.to_csv('Noise_Data.csv', index=False)
print(df)

            Time     Speed  Rotation    Position  Translation  Label
0       0.020005  0.000030  1.570796 -199.999999       -300.0      0
1       0.040010  0.120060  1.570796 -199.997598       -300.0      0
2       0.060015  0.240090  1.570796 -199.992795       -300.0      0
3       0.080020  0.360120  1.570796 -199.985590       -300.0      0
4       0.100025  0.480150  1.570796 -199.975985       -300.0      0
...          ...       ...       ...         ...          ...    ...
95971  79.919980  9.999020  1.570796  179.860453       -100.0      0
95972  79.939985  9.999040  1.570796  180.060484       -100.0      0
95973  79.959990  9.999059  1.570796  180.260515       -100.0      0
95974  79.979995  9.999078  1.570796  180.460546       -100.0      0
95975  80.000000  9.999097  1.570796  180.660578       -100.0      0

[95976 rows x 6 columns]