In [1]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
    df.columns = ['Time','Speed','Rotation','Position','Translation']
    df.to_csv(f,index=False)
    display(df)
    print(f)

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.139128  339.398349   245.155564
3995  79.939985  13.00000 -1.144074  339.161872   245.263787
3996  79.959990  13.00000 -1.149020  338.924862   245.370839
3997  79.979995  13.00000 -1.153966  338.687326   245.476718
3998  80.000000  13.00000 -1.158912  338.449270   245.581421

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_10_V2.csv

           Time     Speed      Rotation  Position  Translation
0      0.020005   0.00003  3.141593e+00     170.0  -230.000001
1      0.040010   0.12006  3.141593e+00     170.0  -230.002402
2      0.060015   0.24009  3.141593e+00     170.0  -230.007205
3      0.080020   0.36012  3.141593e+00     170.0  -230.014410
4      0.100025   0.48015  3.141593e+00     170.0  -230.024015
...         ...       ...           ...       ...          ...
3994  79.919980  15.00000 -2.622347e-13     370.0   166.175184
3995  79.939985  15.00000 -2.622347e-13     370.0   166.475259
3996  79.959990  15.00000 -2.622347e-13     370.0   166.775334
3997  79.979995  15.00000 -2.622347e-13     370.0   167.075409
3998  80.000000  15.00000 -2.622347e-13     370.0   167.375484

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_10_V6.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.139128  339.398349   245.155564
3995  79.939985  13.00000 -1.144074  339.161872   245.263787
3996  79.959990  13.00000 -1.149020  338.924862   245.370839
3997  79.979995  13.00000 -1.153966  338.687326   245.476718
3998  80.000000  13.00000 -1.158912  338.449270   245.581421

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_1_V2.csv

           Time      Speed      Rotation  Position  Translation
0      0.020005   0.000030  3.141593e+00     170.0  -230.000001
1      0.040010   0.120060  3.141593e+00     170.0  -230.002402
2      0.060015   0.240090  3.141593e+00     170.0  -230.007205
3      0.080020   0.360120  3.141593e+00     170.0  -230.014410
4      0.100025   0.480150  3.141593e+00     170.0  -230.024015
...         ...        ...           ...       ...          ...
3994  79.919980  14.899172 -2.629008e-13     370.0   153.357571
3995  79.939985  14.901231 -2.629008e-13     370.0   153.655671
3996  79.959990  14.903248 -2.629008e-13     370.0   153.953810
3997  79.979995  14.905224 -2.629008e-13     370.0   154.251989
3998  80.000000  14.907159 -2.629008e-13     370.0   154.550207

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_1_V6.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.12006  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.24009  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.36012  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.48015  1.570796e+00 -199.975985  -300.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  2.366995e-13  370.000000   144.689441
3995  79.939985  13.00000  2.366995e-13  370.000000   144.949506
3996  79.959990  13.00000  2.366995e-13  370.000000   145.209571
3997  79.979995  13.00000  2.366995e-13  370.000000   145.469636
3998  80.000000  13.00000  2.366995e-13  370.000000   145.729701

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_2_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.987097 -1.571110  297.003080   250.002089
3995  79.939985  14.987360 -1.571096  296.703258   250.001997
3996  79.959990  14.987618 -1.571083  296.403431   250.001909
3997  79.979995  14.987871 -1.571071  296.103598   250.001825
3998  80.000000  14.988119 -1.571059  295.803761   250.001744

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_2_V6.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.139128  339.398349   245.155564
3995  79.939985  13.00000 -1.144074  339.161872   245.263787
3996  79.959990  13.00000 -1.149020  338.924862   245.370839
3997  79.979995  13.00000 -1.153966  338.687326   245.476718
3998  80.000000  13.00000 -1.158912  338.449270   245.581421

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_3_V2.csv

           Time      Speed      Rotation  Position  Translation
0      0.020005   0.000030  3.141593e+00     170.0  -230.000001
1      0.040010   0.120060  3.141593e+00     170.0  -230.002402
2      0.060015   0.240090  3.141593e+00     170.0  -230.007205
3      0.080020   0.360120  3.141593e+00     170.0  -230.014410
4      0.100025   0.480150  3.141593e+00     170.0  -230.024015
...         ...        ...           ...       ...          ...
3994  79.919980  14.995448 -2.622347e-13     370.0   155.935309
3995  79.939985  14.995541 -2.622347e-13     370.0   156.235294
3996  79.959990  14.995632 -2.622347e-13     370.0   156.535282
3997  79.979995  14.995722 -2.622347e-13     370.0   156.835271
3998  80.000000  14.995809 -2.622347e-13     370.0   157.135263

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_3_V6.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.139128  339.398349   245.155564
3995  79.939985  13.00000 -1.144074  339.161872   245.263787
3996  79.959990  13.00000 -1.149020  338.924862   245.370839
3997  79.979995  13.00000 -1.153966  338.687326   245.476718
3998  80.000000  13.00000 -1.158912  338.449270   245.581421

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_4_V2.csv

           Time      Speed      Rotation  Position  Translation
0      0.020005   0.000030  3.141593e+00     170.0  -230.000001
1      0.040010   0.120060  3.141593e+00     170.0  -230.002402
2      0.060015   0.240090  3.141593e+00     170.0  -230.007205
3      0.080020   0.360120  3.141593e+00     170.0  -230.014410
4      0.100025   0.480150  3.141593e+00     170.0  -230.024015
...         ...        ...           ...       ...          ...
3994  79.919980  14.987162 -2.549072e-13     370.0   149.659481
3995  79.939985  14.987424 -2.549072e-13     370.0   149.959305
3996  79.959990  14.987681 -2.549072e-13     370.0   150.259133
3997  79.979995  14.987933 -2.549072e-13     370.0   150.558967
3998  80.000000  14.988179 -2.549072e-13     370.0   150.858805

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_4_V6.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.139128  339.398349   245.155564
3995  79.939985  13.00000 -1.144074  339.161872   245.263787
3996  79.959990  13.00000 -1.149020  338.924862   245.370839
3997  79.979995  13.00000 -1.153966  338.687326   245.476718
3998  80.000000  13.00000 -1.158912  338.449270   245.581421

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_5_V2.csv

           Time      Speed      Rotation  Position  Translation
0      0.020005   0.000030  3.141593e+00     170.0  -230.000001
1      0.040010   0.120060  3.141593e+00     170.0  -230.002402
2      0.060015   0.240090  3.141593e+00     170.0  -230.007205
3      0.080020   0.360120  3.141593e+00     170.0  -230.014410
4      0.100025   0.480150  3.141593e+00     170.0  -230.024015
...         ...        ...           ...       ...          ...
3994  79.919980  13.000207 -2.751133e-13     370.0   147.483037
3995  79.939985  13.000203 -2.751133e-13     370.0   147.743106
3996  79.959990  13.000199 -2.751133e-13     370.0   148.003175
3997  79.979995  13.000195 -2.751133e-13     370.0   148.263244
3998  80.000000  13.000191 -2.751133e-13     370.0   148.523313

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_5_V6.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.12006  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.24009  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.36012  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.48015  1.570796e+00 -199.975985  -300.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  2.364775e-13  370.000000   153.150044
3995  79.939985  13.00000  2.364775e-13  370.000000   153.410109
3996  79.959990  13.00000  2.364775e-13  370.000000   153.670174
3997  79.979995  13.00000  2.364775e-13  370.000000   153.930239
3998  80.000000  13.00000  2.364775e-13  370.000000   154.190304

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_6_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.205069 -1.570851  288.318500   250.000332
3995  79.939985  14.221303 -1.570848  288.034003   250.000317
3996  79.959990  14.237206 -1.570846  287.749188   250.000303
3997  79.979995  14.252784 -1.570844  287.464061   250.000289
3998  80.000000  14.268043 -1.570841  287.178629   250.000276

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_6_V6.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.12006  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.24009  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.36012  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.48015  1.570796e+00 -199.975985  -300.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  2.366995e-13  370.000000   144.689441
3995  79.939985  13.00000  2.366995e-13  370.000000   144.949506
3996  79.959990  13.00000  2.366995e-13  370.000000   145.209571
3997  79.979995  13.00000  2.366995e-13  370.000000   145.469636
3998  80.000000  13.00000  2.366995e-13  370.000000   145.729701

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_7_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.987097 -1.571138  297.068867   250.002274
3995  79.939985  14.987360 -1.571123  296.769045   250.002174
3996  79.959990  14.987618 -1.571109  296.469217   250.002078
3997  79.979995  14.987871 -1.571096  296.169385   250.001986
3998  80.000000  14.988119 -1.571083  295.869548   250.001898

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_7_V6.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.12006  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.24009  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.36012  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.48015  1.570796e+00 -199.975985  -300.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  2.364775e-13  370.000000   150.457831
3995  79.939985  13.00000  2.364775e-13  370.000000   150.717896
3996  79.959990  13.00000  2.364775e-13  370.000000   150.977961
3997  79.979995  13.00000  2.364775e-13  370.000000   151.238026
3998  80.000000  13.00000  2.364775e-13  370.000000   151.498091

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_8_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.995409 -1.570852  285.078257   250.000366
3995  79.939985  14.995503 -1.570850  284.778272   250.000349
3996  79.959990  14.995594 -1.570847  284.478285   250.000334
3997  79.979995  14.995684 -1.570845  284.178297   250.000319
3998  80.000000  14.995773 -1.570843  283.878306   250.000304

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_8_V6.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.12006  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.24009  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.36012  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.48015  1.570796e+00 -199.975985  -300.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  2.364775e-13  370.000000   150.457831
3995  79.939985  13.00000  2.364775e-13  370.000000   150.717896
3996  79.959990  13.00000  2.364775e-13  370.000000   150.977961
3997  79.979995  13.00000  2.364775e-13  370.000000   151.238026
3998  80.000000  13.00000  2.364775e-13  370.000000   151.498091

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_9_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.987097 -1.570897  289.068090   250.000661
3995  79.939985  14.987360 -1.570893  288.768268   250.000632
3996  79.959990  14.987618 -1.570889  288.468441   250.000603
3997  79.979995  14.987871 -1.570884  288.168609   250.000576
3998  80.000000  14.988119 -1.570881  287.868771   250.000550

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Platoon Controlfault_StuckAt_9_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571067  300.611367   250.001489
3995  79.939985  11.731341 -1.571056  300.376682   250.001427
3996  79.959990  11.746567 -1.571046  300.141692   250.001367
3997  79.979995  11.761617 -1.571036  299.906401   250.001309
3998  80.000000  11.776491 -1.571026  299.670812   250.001254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_10_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.717807  357.008668   231.979350
3995  79.939985  13.00000 -0.722749  356.837132   232.174821
3996  79.959990  13.00000 -0.727691  356.664631   232.369441
3997  79.979995  13.00000 -0.732633  356.491170   232.563207
3998  80.000000  13.00000 -0.737575  356.316754   232.756113

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_10_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571067  300.611367   250.001489
3995  79.939985  11.731341 -1.571056  300.376682   250.001427
3996  79.959990  11.746567 -1.571046  300.141692   250.001367
3997  79.979995  11.761617 -1.571036  299.906401   250.001309
3998  80.000000  11.776491 -1.571026  299.670812   250.001254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_1_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.994959 -0.706451  357.399131   231.527014
3995  79.939985  12.995062 -0.711391  357.229889   231.724346
3996  79.959990  12.995162 -0.716330  357.059674   231.920840
3997  79.979995  12.995261 -0.721271  356.888488   232.116492
3998  80.000000  12.995358 -0.726211  356.716337   232.311298

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_1_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571067  300.611367   250.001489
3995  79.939985  11.731341 -1.571056  300.376682   250.001427
3996  79.959990  11.746567 -1.571046  300.141692   250.001367
3997  79.979995  11.761617 -1.571036  299.906401   250.001309
3998  80.000000  11.776491 -1.571026  299.670812   250.001254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_2_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999355 -0.708689  357.322761   231.616350
3995  79.939985  12.999368 -0.713630  357.153022   231.813367
3996  79.959990  12.999381 -0.718572  356.982311   232.009543
3997  79.979995  12.999394 -0.723513  356.810633   232.204873
3998  80.000000  12.999406 -0.728455  356.637991   232.399353

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_2_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571067  300.611367   250.001489
3995  79.939985  11.731341 -1.571056  300.376682   250.001427
3996  79.959990  11.746567 -1.571046  300.141692   250.001367
3997  79.979995  11.761617 -1.571036  299.906401   250.001309
3998  80.000000  11.776491 -1.571026  299.670812   250.001254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_3_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999772 -0.711107  357.240199   231.712513
3995  79.939985  12.999777 -0.716048  357.069979   231.909125
3996  79.959990  12.999782 -0.720989  356.898789   232.104894
3997  79.979995  12.999786 -0.725931  356.726634   232.299814
3998  80.000000  12.999790 -0.730872  356.553517   232.493882

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_3_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571067  300.611367   250.001489
3995  79.939985  11.731341 -1.571056  300.376682   250.001427
3996  79.959990  11.746567 -1.571046  300.141692   250.001367
3997  79.979995  11.761617 -1.571036  299.906401   250.001309
3998  80.000000  11.776491 -1.571026  299.670812   250.001254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_4_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999358 -0.698276  357.677219   231.198463
3995  79.939985  12.999371 -0.703217  357.509541   231.397237
3996  79.959990  12.999384 -0.708158  357.340882   231.595180
3997  79.979995  12.999397 -0.713099  357.171247   231.792288
3998  80.000000  12.999409 -0.718040  357.000640   231.988555

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_4_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571067  300.611367   250.001489
3995  79.939985  11.731341 -1.571056  300.376682   250.001427
3996  79.959990  11.746567 -1.571046  300.141692   250.001367
3997  79.979995  11.761617 -1.571036  299.906401   250.001309
3998  80.000000  11.776491 -1.571026  299.670812   250.001254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_5_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -370.000001
1      0.040010   0.12006  3.141478  170.000000  -370.002402
2      0.060015   0.24009  3.141270  170.000001  -370.007205
3      0.080020   0.36012  3.140984  170.000005  -370.014410
4      0.100025   0.48015  3.140632  170.000012  -370.024015
...         ...       ...       ...         ...          ...
3994  79.919980  12.90001 -0.689550  357.971036   230.845301
3995  79.939985  12.90001 -0.694453  357.806370   231.044003
3996  79.959990  12.90001 -0.699355  357.640732   231.241896
3997  79.979995  12.90001 -0.704258  357.474127   231.438974
3998  80.000000  12.90001 -0.709161  357.306556   231.635232

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_5_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571067  300.611367   250.001489
3995  79.939985  11.731341 -1.571056  300.376682   250.001427
3996  79.959990  11.746567 -1.571046  300.141692   250.001367
3997  79.979995  11.761617 -1.571036  299.906401   250.001309
3998  80.000000  11.776491 -1.571026  299.670812   250.001254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_6_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.960253 -0.706109  357.411191   231.512962
3995  79.939985  12.961065 -0.711035  357.242461   231.709836
3996  79.959990  12.961860 -0.715962  357.072752   231.905888
3997  79.979995  12.962639 -0.720889  356.902070   232.101113
3998  80.000000  12.963402 -0.725817  356.730417   232.295506

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_6_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571067  300.611367   250.001489
3995  79.939985  11.731341 -1.571056  300.376682   250.001427
3996  79.959990  11.746567 -1.571046  300.141692   250.001367
3997  79.979995  11.761617 -1.571036  299.906401   250.001309
3998  80.000000  11.776491 -1.571026  299.670812   250.001254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_7_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999355 -0.708689  357.322761   231.616350
3995  79.939985  12.999368 -0.713630  357.153022   231.813367
3996  79.959990  12.999381 -0.718572  356.982311   232.009543
3997  79.979995  12.999394 -0.723513  356.810633   232.204873
3998  80.000000  12.999406 -0.728455  356.637991   232.399353

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_7_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571067  300.611367   250.001489
3995  79.939985  11.731341 -1.571056  300.376682   250.001427
3996  79.959990  11.746567 -1.571046  300.141692   250.001367
3997  79.979995  11.761617 -1.571036  299.906401   250.001309
3998  80.000000  11.776491 -1.571026  299.670812   250.001254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_8_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999770 -0.714199  357.133489   231.835929
3995  79.939985  12.999775 -0.719141  356.962662   232.032014
3996  79.959990  12.999780 -0.724082  356.790867   232.227252
3997  79.979995  12.999784 -0.729024  356.618110   232.421639
3998  80.000000  12.999789 -0.733966  356.444394   232.615170

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_8_V6.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796  -79.999999  -300.000000
1      0.040010   0.120060  1.570715  -79.997598  -300.000000
2      0.060015   0.240090  1.570566  -79.992795  -299.999999
3      0.080020   0.360120  1.570362  -79.985590  -299.999997
4      0.100025   0.480150  1.570111  -79.975985  -299.999991
...         ...        ...       ...         ...          ...
3994  79.919980  11.715938 -1.571067  300.611367   250.001489
3995  79.939985  11.731341 -1.571056  300.376682   250.001427
3996  79.959990  11.746567 -1.571046  300.141692   250.001367
3997  79.979995  11.761617 -1.571036  299.906401   250.001309
3998  80.000000  11.776491 -1.571026  299.670812   250.001254

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_9_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -370.000001
1      0.040010   0.120060  3.141478  170.000000  -370.002402
2      0.060015   0.240090  3.141270  170.000001  -370.007205
3      0.080020   0.360120  3.140984  170.000005  -370.014410
4      0.100025   0.480150  3.140632  170.000012  -370.024015
...         ...        ...       ...         ...          ...
3994  79.919980  12.999355 -0.710347  357.266185   231.682299
3995  79.939985  12.999368 -0.715288  357.096119   231.879034
3996  79.959990  12.999381 -0.720229  356.925083   232.074927
3997  79.979995  12.999394 -0.725171  356.753082   232.269973
3998  80.000000  12.999406 -0.730112  356.580118   232.464166

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Road Merge Collisionfault_StuckAt_9_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020767  369.961186  -370.777541
3995  79.939985  0.00000  0.020767  369.961186  -370.777541
3996  79.959990  0.00000  0.020767  369.961186  -370.777541
3997  79.979995  0.00000  0.020767  369.961186  -370.777541
3998  80.000000  0.00000  0.020767  369.961186  -370.777541

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_10_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003 -1.570796 -530.000001  -120.000000
1      0.040010   0.12006 -1.570236 -530.002402  -119.999999
2      0.060015   0.24009 -1.569115 -530.007205  -119.999994
3      0.080020   0.36012 -1.567433 -530.014410  -119.999976
4      0.100025   0.48015 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  10.00000  1.570796  227.401419  -100.000000
3995  79.939985  10.00000  1.570796  227.601469  -100.000000
3996  79.959990  10.00000  1.570796  227.801519  -100.000000
3997  79.979995  10.00000  1.570796  228.001569  -100.000000
3998  80.000000  10.00000  1.570796  228.201619  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_10_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020484  369.956760  -370.994286
3995  79.939985  0.00000  0.020484  369.956760  -370.994286
3996  79.959990  0.00000  0.020484  369.956760  -370.994286
3997  79.979995  0.00000  0.020484  369.956760  -370.994286
3998  80.000000  0.00000  0.020484  369.956760  -370.994286

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_1_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.367369  1.570796  166.335680  -100.000000
3995  79.939985  9.380289  1.570796  166.523332  -100.000000
3996  79.959990  9.392944  1.570796  166.711238  -100.000000
3997  79.979995  9.405342  1.570796  166.899392  -100.000000
3998  80.000000  9.417486  1.570796  167.087789  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_1_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020610  369.959403  -370.860724
3995  79.939985  0.00000  0.020610  369.959403  -370.860724
3996  79.959990  0.00000  0.020610  369.959403  -370.860724
3997  79.979995  0.00000  0.020610  369.959403  -370.860724
3998  80.000000  0.00000  0.020610  369.959403  -370.860724

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.918843  1.570796  145.766292  -100.000000
3995  79.939985  9.920500  1.570796  145.964752  -100.000000
3996  79.959990  9.922124  1.570796  146.163244  -100.000000
3997  79.979995  9.923714  1.570796  146.361768  -100.000000
3998  80.000000  9.925272  1.570796  146.560323  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_2_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020677  369.960204  -370.822456
3995  79.939985  0.00000  0.020677  369.960204  -370.822456
3996  79.959990  0.00000  0.020677  369.960204  -370.822456
3997  79.979995  0.00000  0.020677  369.960204  -370.822456
3998  80.000000  0.00000  0.020677  369.960204  -370.822456

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_3_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.971442  1.570796  175.763657  -100.000000
3995  79.939985  9.972026  1.570796  175.963147  -100.000000
3996  79.959990  9.972597  1.570796  176.162649  -100.000000
3997  79.979995  9.973157  1.570796  176.362162  -100.000000
3998  80.000000  9.973705  1.570796  176.561686  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_3_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020594  369.958969  -370.883031
3995  79.939985  0.00000  0.020594  369.958969  -370.883031
3996  79.959990  0.00000  0.020594  369.958969  -370.883031
3997  79.979995  0.00000  0.020594  369.958969  -370.883031
3998  80.000000  0.00000  0.020594  369.958969  -370.883031

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_4_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.919278  1.570796  145.788678  -100.000000
3995  79.939985  9.920927  1.570796  145.987146  -100.000000
3996  79.959990  9.922542  1.570796  146.185646  -100.000000
3997  79.979995  9.924124  1.570796  146.384178  -100.000000
3998  80.000000  9.925673  1.570796  146.582741  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_4_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020524  369.957571  -370.954095
3995  79.939985  0.00000  0.020524  369.957571  -370.954095
3996  79.959990  0.00000  0.020524  369.957571  -370.954095
3997  79.979995  0.00000  0.020524  369.957571  -370.954095
3998  80.000000  0.00000  0.020524  369.957571  -370.954095

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_5_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  0.001044  1.570796  148.115427  -100.000000
3995  79.939985  0.001023  1.570796  148.115448  -100.000000
3996  79.959990  0.001002  1.570796  148.115468  -100.000000
3997  79.979995  0.000982  1.570796  148.115487  -100.000000
3998  80.000000  0.000962  1.570796  148.115507  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_5_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020499  369.957141  -370.975414
3995  79.939985  0.00000  0.020499  369.957141  -370.975414
3996  79.959990  0.00000  0.020499  369.957141  -370.975414
3997  79.979995  0.00000  0.020499  369.957141  -370.975414
3998  80.000000  0.00000  0.020499  369.957141  -370.975414

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  5.010234  1.570796  130.504908  -100.000000
3995  79.939985  5.110259  1.570796  130.607138  -100.000000
3996  79.959990  5.210078  1.570796  130.711365  -100.000000
3997  79.979995  5.307896  1.570796  130.817549  -100.000000
3998  80.000000  5.403718  1.570796  130.925650  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_6_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020574  369.958747  -370.894532
3995  79.939985  0.00000  0.020574  369.958747  -370.894532
3996  79.959990  0.00000  0.020574  369.958747  -370.894532
3997  79.979995  0.00000  0.020574  369.958747  -370.894532
3998  80.000000  0.00000  0.020574  369.958747  -370.894532

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_7_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.918843  1.570796  145.766292  -100.000000
3995  79.939985  9.920500  1.570796  145.964752  -100.000000
3996  79.959990  9.922124  1.570796  146.163244  -100.000000
3997  79.979995  9.923714  1.570796  146.361768  -100.000000
3998  80.000000  9.925272  1.570796  146.560323  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_7_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020601  369.959232  -370.869556
3995  79.939985  0.00000  0.020601  369.959232  -370.869556
3996  79.959990  0.00000  0.020601  369.959232  -370.869556
3997  79.979995  0.00000  0.020601  369.959232  -370.869556
3998  80.000000  0.00000  0.020601  369.959232  -370.869556

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_8_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.971156  1.570796  165.732038  -100.000000
3995  79.939985  9.971745  1.570796  165.931522  -100.000000
3996  79.959990  9.972322  1.570796  166.131019  -100.000000
3997  79.979995  9.972888  1.570796  166.330526  -100.000000
3998  80.000000  9.973441  1.570796  166.530045  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_8_V6.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796 -199.999999  -300.000000
1      0.040010  0.12006  1.570796 -199.997598  -300.000000
2      0.060015  0.24009  1.570796 -199.992795  -300.000000
3      0.080020  0.36012  1.570796 -199.985590  -300.000000
4      0.100025  0.48015  1.570796 -199.975985  -300.000000
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  0.020610  369.959403  -370.860724
3995  79.939985  0.00000  0.020610  369.959403  -370.860724
3996  79.959990  0.00000  0.020610  369.959403  -370.860724
3997  79.979995  0.00000  0.020610  369.959403  -370.860724
3998  80.000000  0.00000  0.020610  369.959403  -370.860724

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_9_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000030 -1.570796 -530.000001  -120.000000
1      0.040010  0.120060 -1.570236 -530.002402  -119.999999
2      0.060015  0.240090 -1.569115 -530.007205  -119.999994
3      0.080020  0.360120 -1.567433 -530.014410  -119.999976
4      0.100025  0.480150 -1.565191 -530.024015  -119.999933
...         ...       ...       ...         ...          ...
3994  79.919980  9.918843  1.570796  145.766292  -100.000000
3995  79.939985  9.920500  1.570796  145.964752  -100.000000
3996  79.959990  9.922124  1.570796  146.163244  -100.000000
3997  79.979995  9.923714  1.570796  146.361768  -100.000000
3998  80.000000  9.925272  1.570796  146.560323  -100.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Datasets_for_label_DL_model\Multivariate\StuckAt\CSV files\Urban City Trafficfault_StuckAt_9_V6.csv

In [12]:
import pandas as pd  

df_source1 = pd.read_csv('sample_StuckAt_10_V6.csv') 
df_source2 = pd.read_csv('Platoon Controlfault_StuckAt_10_V6.csv') 
df_source3 = pd.read_csv('Road Merge Collisionfault_StuckAt_10_V6.csv')
df_source4 = pd.read_csv('Urban City Trafficfault_StuckAt_10_V6.csv')

df_source2["Label"]=df_source1["Label"]
df_source3["Label"]=df_source1["Label"]
df_source4["Label"]=df_source1["Label"]


df_source2.to_csv('Platoon Controlfault_StuckAt_10_V6.csv',index=False) 
df_source3.to_csv('Road Merge Collisionfault_StuckAt_10_V6.csv',index=False) 
df_source4.to_csv('Urban City Trafficfault_StuckAt_10_V6.csv',index=False)

In [13]:
import pandas as pd
import glob
import os
 
path = os.getcwd()    
# merging the files
files = os.path.join(path,"*.csv")
  
# A list of all joined files is returned
files = glob.glob(files)
  
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
df.to_csv('StuckAt_Data.csv', index=False)
print(df)

             Time     Speed  Rotation    Position  Translation  Label
0        0.020005  0.000030  3.141593  170.000000  -230.000001      0
1        0.040010  0.120060  3.141593  170.000000  -230.002402      0
2        0.060015  0.240090  3.141593  170.000000  -230.007205      0
3        0.080020  0.360120  3.141593  170.000000  -230.014410      0
4        0.100025  0.480150  3.141593  170.000000  -230.024015      0
...           ...       ...       ...         ...          ...    ...
119965  79.919980  9.918843  1.570796  145.766292  -100.000000      0
119966  79.939985  9.920500  1.570796  145.964752  -100.000000      0
119967  79.959990  9.922124  1.570796  146.163244  -100.000000      0
119968  79.979995  9.923714  1.570796  146.361768  -100.000000      0
119969  80.000000  9.925272  1.570796  146.560323  -100.000000      0

[119970 rows x 6 columns]