In [7]:
import pandas as pd

for i in range (1,81):
    faultduration = ['0_6','1_2','1_8','2_4','3','3_6','4_2','5']
    for x in faultduration:
        Vehicle = ['_V1','_V2','_V3','_V4','_V5','_V6','_V7','_V8','_V9','_V10']
        for k in Vehicle:
            df = pd.DataFrame(list())
            df.to_csv('Platoon Control_StuckAt_faultduration_'+ x + k + '.csv')

In [8]:
Vehicle = ['_V1','_V2','_V3','_V4','_V5','_V6','_V7','_V8','_V9','_V10']
for k in Vehicle:
    df = pd.DataFrame(list())
    df.to_csv('Platoon Control_sample_faultfree_' + k + '.csv')

In [4]:
for j in range [1,2,3]:
    print(j)

TypeError: 'type' object is not subscriptable

In [1]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
    df.columns = ["a","b","c","d","e","f","g","h","i"]
    df=df.drop(["c","d","e","h"],axis=1)
    df = df.rename(columns={"a": "Time", "b": "Speed", "f":"Rotation", "g":"Position", "i":"Translation"})
    df.to_csv(f,index=False)
    display(df)
    print(f)

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_0_6_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_0_6_V10.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.999978 -5.373864e-08  369.999999   164.596067
3995  79.939985  12.999979 -4.962955e-08  369.999999   164.856132
3996  79.959990  12.999979 -4.553776e-08  369.999999   165.116197
3997  79.979995  12.999980 -4.147996e-08  369.999999   165.376261
3998  80.000000  12.999980 -3.747099e-08  369.999999   165.636326

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_0_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000467  369.997665   -30.881427
3995  79.939985  11.00000  0.000447  369.997765   -30.661372
3996  79.959990  11.00000  0.000428  369.997861   -30.441317
3997  79.979995  11.00000  0.000410  369.997954   -30.221262
3998  80.000000  11.00000  0.000392  369.998042   -30.001207

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_0_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_0_6_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_0_6_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.999982 -1.570797  252.299612   250.000002
3995  79.939985  14.999983 -1.570797  251.999537   250.000002
3996  79.959990  14.999983 -1.570797  251.699463   250.000002
3997  79.979995  14.999984 -1.570797  251.399388   250.000002
3998  80.000000  14.999984 -1.570797  251.099313   250.000002

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_0_6_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_0_6_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_0_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_0_6_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_2_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_2_V10.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.999937 -2.892811e-07  370.000006   161.893021
3995  79.939985  12.999938 -2.827366e-07  370.000006   162.153084
3996  79.959990  12.999939 -2.762197e-07  370.000006   162.413148
3997  79.979995  12.999941 -2.697569e-07  370.000006   162.673212
3998  80.000000  12.999942 -2.633718e-07  370.000006   162.933276

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000509  369.997455   -31.607859
3995  79.939985  11.00000  0.000488  369.997564   -31.387804
3996  79.959990  11.00000  0.000467  369.997669   -31.167749
3997  79.979995  11.00000  0.000447  369.997770   -30.947694
3998  80.000000  11.00000  0.000427  369.997866   -30.727639

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_2_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_2_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.999941 -1.570797  255.320102   250.000004
3995  79.939985  14.999942 -1.570797  255.020028   250.000004
3996  79.959990  14.999943 -1.570797  254.719954   250.000004
3997  79.979995  14.999945 -1.570797  254.419880   250.000003
3998  80.000000  14.999946 -1.570797  254.119806   250.000003

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_2_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_2_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_2_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_8_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_8_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -199.999999  -300.000000
1      0.040010   0.120060  1.570796 -199.997598  -300.000000
2      0.060015   0.240090  1.570796 -199.992795  -300.000000
3      0.080020   0.360120  1.570796 -199.985590  -300.000000
4      0.100025   0.480150  1.570796 -199.975985  -300.000000
...         ...        ...       ...         ...          ...
3994  79.919980  12.999879  0.000001  369.999968   159.418188
3995  79.939985  12.999881  0.000001  369.999968   159.678250
3996  79.959990  12.999884  0.000001  369.999968   159.938313
3997  79.979995  12.999886  0.000001  369.999968   160.198376
3998  80.000000  12.999888  0.000001  369.999969   160.458439

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_8_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000663  369.996671   -32.352611
3995  79.939985  11.00000  0.000635  369.996814   -32.132557
3996  79.959990  11.00000  0.000608  369.996951   -31.912502
3997  79.979995  11.00000  0.000582  369.997082   -31.692447
3998  80.000000  11.00000  0.000557  369.997207   -31.472392

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_8_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_8_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_8_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.999849 -1.570797  258.420762   250.000006
3995  79.939985  14.999852 -1.570797  258.120690   250.000006
3996  79.959990  14.999855 -1.570797  257.820618   250.000006
3997  79.979995  14.999858 -1.570797  257.520546   250.000005
3998  80.000000  14.999861 -1.570797  257.220473   250.000005

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_8_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_8_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_8_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_1_8_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_2_4_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_2_4_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -199.999999  -300.000000
1      0.040010   0.120060  1.570796 -199.997598  -300.000000
2      0.060015   0.240090  1.570796 -199.992795  -300.000000
3      0.080020   0.360120  1.570796 -199.985590  -300.000000
4      0.100025   0.480150  1.570796 -199.975985  -300.000000
...         ...        ...       ...         ...          ...
3994  79.919980  12.999759  0.000007  369.999749   156.499360
3995  79.939985  12.999764  0.000007  369.999750   156.759420
3996  79.959990  12.999769  0.000007  369.999752   157.019480
3997  79.979995  12.999774  0.000007  369.999754   157.279541
3998  80.000000  12.999778  0.000007  369.999756   157.539602

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_2_4_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000749  369.996243   -33.312815
3995  79.939985  11.00000  0.000717  369.996404   -33.092760
3996  79.959990  11.00000  0.000686  369.996559   -32.872705
3997  79.979995  11.00000  0.000657  369.996706   -32.652650
3998  80.000000  11.00000  0.000629  369.996848   -32.432595

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_2_4_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_2_4_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_2_4_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.999690 -1.570798  261.792712   250.000010
3995  79.939985  14.999696 -1.570798  261.492643   250.000009
3996  79.959990  14.999703 -1.570798  261.192574   250.000009
3997  79.979995  14.999709 -1.570798  260.892505   250.000009
3998  80.000000  14.999715 -1.570798  260.592436   250.000008

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_2_4_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_2_4_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_2_4_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_2_4_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_6_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_6_V10.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.998999  8.523024e-07  370.000000   150.713695
3995  79.939985  12.999019  8.117898e-07  370.000000   150.973740
3996  79.959990  12.999039  7.714504e-07  370.000000   151.233786
3997  79.979995  12.999059  7.314485e-07  370.000001   151.493832
3998  80.000000  12.999078  6.919300e-07  370.000001   151.753879

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.001034  369.994795   -35.108723
3995  79.939985  11.00000  0.000991  369.995018   -34.888668
3996  79.959990  11.00000  0.000949  369.995231   -34.668613
3997  79.979995  11.00000  0.000908  369.995435   -34.448558
3998  80.000000  11.00000  0.000870  369.995631   -34.228503

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_6_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_6_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.998862 -1.570801  268.395540   250.000027
3995  79.939985  14.998886 -1.570800  268.095487   250.000026
3996  79.959990  14.998908 -1.570800  267.795434   250.000025
3997  79.979995  14.998931 -1.570800  267.495381   250.000024
3998  80.000000  14.998952 -1.570800  267.195327   250.000023

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_6_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_6_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_6_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_V10.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.999487  2.557478e-07  369.999996   153.753261
3995  79.939985  12.999498  2.472463e-07  369.999996   154.013316
3996  79.959990  12.999508  2.387821e-07  369.999997   154.273371
3997  79.979995  12.999518  2.303898e-07  369.999997   154.533427
3998  80.000000  12.999528  2.220997e-07  369.999997   154.793482

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000886  369.995545   -34.199944
3995  79.939985  11.00000  0.000849  369.995736   -33.979889
3996  79.959990  11.00000  0.000813  369.995919   -33.759835
3997  79.979995  11.00000  0.000778  369.996094   -33.539780
3998  80.000000  11.00000  0.000745  369.996261   -33.319725

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.999416 -1.570799  264.960157   250.000017
3995  79.939985  14.999428 -1.570799  264.660093   250.000016
3996  79.959990  14.999440 -1.570799  264.360029   250.000015
3997  79.979995  14.999451 -1.570799  264.059965   250.000015
3998  80.000000  14.999462 -1.570798  263.759901   250.000014

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_3_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_4_2_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_4_2_V10.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  1.570796 -199.999999  -300.000000
1      0.040010   0.120060  1.570796 -199.997598  -300.000000
2      0.060015   0.240090  1.570796 -199.992795  -300.000000
3      0.080020   0.360120  1.570796 -199.985590  -300.000000
4      0.100025   0.480150  1.570796 -199.975985  -300.000000
...         ...        ...       ...         ...          ...
3994  79.919980  12.998020  0.000002  370.000017   147.648827
3995  79.939985  12.998060  0.000001  370.000017   147.908853
3996  79.959990  12.998100  0.000001  370.000018   148.168880
3997  79.979995  12.998139  0.000001  370.000018   148.428908
3998  80.000000  12.998177  0.000001  370.000018   148.688936

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_4_2_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593 -280.000000  -220.000001
1      0.040010   0.120060  3.141449 -280.000000  -220.002402
2      0.060015   0.240090  3.141189 -279.999999  -220.007205
3      0.080020   0.360120  3.140830 -279.999994  -220.014410
4      0.100025   0.480150  3.140390 -279.999985  -220.024015
...         ...        ...       ...         ...          ...
3994  79.919980  10.999999  0.001335  369.993240   -36.143124
3995  79.939985  10.999999  0.001279  369.993528   -35.923070
3996  79.959990  10.999999  0.001225  369.993803   -35.703015
3997  79.979995  10.999999  0.001174  369.994067   -35.482960
3998  80.000000  11.000000  0.001125  369.994320   -35.262905

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_4_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_4_2_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_4_2_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.998084 -1.570804  272.473230   250.000053
3995  79.939985  14.998124 -1.570804  272.173193   250.000051
3996  79.959990  14.998162 -1.570804  271.873155   250.000048
3997  79.979995  14.998199 -1.570803  271.573116   250.000046
3998  80.000000  14.998236 -1.570803  271.273076   250.000044

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_4_2_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_4_2_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_4_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_4_2_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_5_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_5_V10.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.996221  2.875170e-07  370.000009   144.547725
3995  79.939985  12.996298  2.663692e-07  370.000009   144.807716
3996  79.959990  12.996374  2.453079e-07  370.000009   145.067709
3997  79.979995  12.996448  2.244191e-07  370.000009   145.327703
3998  80.000000  12.996521  2.037794e-07  370.000009   145.587698

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_5_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593 -280.000000  -220.000001
1      0.040010   0.120060  3.141449 -280.000000  -220.002402
2      0.060015   0.240090  3.141189 -279.999999  -220.007205
3      0.080020   0.360120  3.140830 -279.999994  -220.014410
4      0.100025   0.480150  3.140390 -279.999985  -220.024015
...         ...        ...       ...         ...          ...
3994  79.919980  10.999999  0.001518  369.992321   -37.094319
3995  79.939985  10.999999  0.001454  369.992648   -36.874265
3996  79.959990  10.999999  0.001393  369.992961   -36.654210
3997  79.979995  10.999999  0.001335  369.993262   -36.434155
3998  80.000000  10.999999  0.001278  369.993549   -36.214100

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_5_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_5_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_5_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.994962 -1.570812  277.161873   250.000104
3995  79.939985  14.995065 -1.570811  276.861897   250.000099
3996  79.959990  14.995166 -1.570811  276.561918   250.000095
3997  79.979995  14.995264 -1.570810  276.261938   250.000090
3998  80.000000  14.995361 -1.570810  275.961956   250.000086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_5_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_5_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_5_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Noise_faultduration_5_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_0_6_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_0_6_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  370.000106   167.324826
3995  79.939985  13.00000 -0.000003  370.000106   167.584891
3996  79.959990  13.00000 -0.000003  370.000105   167.844956
3997  79.979995  13.00000 -0.000003  370.000104   168.105021
3998  80.000000  13.00000 -0.000003  370.000103   168.365086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_0_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000371  369.998148   -30.081615
3995  79.939985  11.00000  0.000355  369.998228   -29.861560
3996  79.959990  11.00000  0.000340  369.998305   -29.641505
3997  79.979995  11.00000  0.000325  369.998378   -29.421450
3998  80.000000  11.00000  0.000311  369.998448   -29.201395

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_0_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_0_6_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_0_6_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -230.000001
1      0.040010   0.12006  3.141593  170.000000  -230.002402
2      0.060015   0.24009  3.141593  170.000000  -230.007205
3      0.080020   0.36012  3.141593  170.000000  -230.014410
4      0.100025   0.48015  3.141593  170.000000  -230.024015
...         ...       ...       ...         ...          ...
3994  79.919980  15.00000 -1.606518  249.086661   249.973177
3995  79.939985  15.00000 -1.613637  248.786818   249.961393
3996  79.959990  15.00000 -1.620755  248.487066   249.947475
3997  79.979995  15.00000 -1.627872  248.187422   249.931424
3998  80.000000  15.00000 -1.634991  247.887899   249.913240

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_0_6_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_0_6_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_0_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_0_6_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_2_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_2_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  370.000106   167.324826
3995  79.939985  13.00000 -0.000003  370.000106   167.584891
3996  79.959990  13.00000 -0.000003  370.000105   167.844956
3997  79.979995  13.00000 -0.000003  370.000104   168.105021
3998  80.000000  13.00000 -0.000003  370.000103   168.365086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000371  369.998148   -30.081615
3995  79.939985  11.00000  0.000355  369.998228   -29.861560
3996  79.959990  11.00000  0.000340  369.998305   -29.641505
3997  79.979995  11.00000  0.000325  369.998378   -29.421450
3998  80.000000  11.00000  0.000311  369.998448   -29.201395

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_2_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_2_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -230.000001
1      0.040010   0.12006  3.141593  170.000000  -230.002402
2      0.060015   0.24009  3.141593  170.000000  -230.007205
3      0.080020   0.36012  3.141593  170.000000  -230.014410
4      0.100025   0.48015  3.141593  170.000000  -230.024015
...         ...       ...       ...         ...          ...
3994  79.919980  15.00000 -1.606518  249.086661   249.973177
3995  79.939985  15.00000 -1.613637  248.786818   249.961393
3996  79.959990  15.00000 -1.620755  248.487066   249.947475
3997  79.979995  15.00000 -1.627872  248.187422   249.931424
3998  80.000000  15.00000 -1.634991  247.887899   249.913240

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_2_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_2_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_2_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_8_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_8_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  370.000106   167.324826
3995  79.939985  13.00000 -0.000003  370.000106   167.584891
3996  79.959990  13.00000 -0.000003  370.000105   167.844956
3997  79.979995  13.00000 -0.000003  370.000104   168.105021
3998  80.000000  13.00000 -0.000003  370.000103   168.365086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_8_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000371  369.998148   -30.081615
3995  79.939985  11.00000  0.000355  369.998228   -29.861560
3996  79.959990  11.00000  0.000340  369.998305   -29.641505
3997  79.979995  11.00000  0.000325  369.998378   -29.421450
3998  80.000000  11.00000  0.000311  369.998448   -29.201395

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_8_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_8_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_8_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -230.000001
1      0.040010   0.12006  3.141593  170.000000  -230.002402
2      0.060015   0.24009  3.141593  170.000000  -230.007205
3      0.080020   0.36012  3.141593  170.000000  -230.014410
4      0.100025   0.48015  3.141593  170.000000  -230.024015
...         ...       ...       ...         ...          ...
3994  79.919980  15.00000 -1.606518  249.086661   249.973177
3995  79.939985  15.00000 -1.613637  248.786818   249.961393
3996  79.959990  15.00000 -1.620755  248.487066   249.947475
3997  79.979995  15.00000 -1.627872  248.187422   249.931424
3998  80.000000  15.00000 -1.634991  247.887899   249.913240

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_8_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_8_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_8_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_1_8_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_2_4_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_2_4_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  370.000106   167.324826
3995  79.939985  13.00000 -0.000003  370.000106   167.584891
3996  79.959990  13.00000 -0.000003  370.000105   167.844956
3997  79.979995  13.00000 -0.000003  370.000104   168.105021
3998  80.000000  13.00000 -0.000003  370.000103   168.365086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_2_4_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000371  369.998148   -30.081615
3995  79.939985  11.00000  0.000355  369.998228   -29.861560
3996  79.959990  11.00000  0.000340  369.998305   -29.641505
3997  79.979995  11.00000  0.000325  369.998378   -29.421450
3998  80.000000  11.00000  0.000311  369.998448   -29.201395

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_2_4_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_2_4_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_2_4_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -230.000001
1      0.040010   0.12006  3.141593  170.000000  -230.002402
2      0.060015   0.24009  3.141593  170.000000  -230.007205
3      0.080020   0.36012  3.141593  170.000000  -230.014410
4      0.100025   0.48015  3.141593  170.000000  -230.024015
...         ...       ...       ...         ...          ...
3994  79.919980  15.00000 -1.606518  249.086661   249.973177
3995  79.939985  15.00000 -1.613637  248.786818   249.961393
3996  79.959990  15.00000 -1.620755  248.487066   249.947475
3997  79.979995  15.00000 -1.627872  248.187422   249.931424
3998  80.000000  15.00000 -1.634991  247.887899   249.913240

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_2_4_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_2_4_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_2_4_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_2_4_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_6_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_6_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  370.000106   167.324826
3995  79.939985  13.00000 -0.000003  370.000106   167.584891
3996  79.959990  13.00000 -0.000003  370.000105   167.844956
3997  79.979995  13.00000 -0.000003  370.000104   168.105021
3998  80.000000  13.00000 -0.000003  370.000103   168.365086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000371  369.998148   -30.081615
3995  79.939985  11.00000  0.000355  369.998228   -29.861560
3996  79.959990  11.00000  0.000340  369.998305   -29.641505
3997  79.979995  11.00000  0.000325  369.998378   -29.421450
3998  80.000000  11.00000  0.000311  369.998448   -29.201395

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_6_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_6_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -230.000001
1      0.040010   0.12006  3.141593  170.000000  -230.002402
2      0.060015   0.24009  3.141593  170.000000  -230.007205
3      0.080020   0.36012  3.141593  170.000000  -230.014410
4      0.100025   0.48015  3.141593  170.000000  -230.024015
...         ...       ...       ...         ...          ...
3994  79.919980  15.00000 -1.606518  249.086661   249.973177
3995  79.939985  15.00000 -1.613637  248.786818   249.961393
3996  79.959990  15.00000 -1.620755  248.487066   249.947475
3997  79.979995  15.00000 -1.627872  248.187422   249.931424
3998  80.000000  15.00000 -1.634991  247.887899   249.913240

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_6_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_6_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_6_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  370.000106   167.324826
3995  79.939985  13.00000 -0.000003  370.000106   167.584891
3996  79.959990  13.00000 -0.000003  370.000105   167.844956
3997  79.979995  13.00000 -0.000003  370.000104   168.105021
3998  80.000000  13.00000 -0.000003  370.000103   168.365086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000371  369.998148   -30.081615
3995  79.939985  11.00000  0.000355  369.998228   -29.861560
3996  79.959990  11.00000  0.000340  369.998305   -29.641505
3997  79.979995  11.00000  0.000325  369.998378   -29.421450
3998  80.000000  11.00000  0.000311  369.998448   -29.201395

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -230.000001
1      0.040010   0.12006  3.141593  170.000000  -230.002402
2      0.060015   0.24009  3.141593  170.000000  -230.007205
3      0.080020   0.36012  3.141593  170.000000  -230.014410
4      0.100025   0.48015  3.141593  170.000000  -230.024015
...         ...       ...       ...         ...          ...
3994  79.919980  15.00000 -1.606518  249.086661   249.973177
3995  79.939985  15.00000 -1.613637  248.786818   249.961393
3996  79.959990  15.00000 -1.620755  248.487066   249.947475
3997  79.979995  15.00000 -1.627872  248.187422   249.931424
3998  80.000000  15.00000 -1.634991  247.887899   249.913240

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_3_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_4_2_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_4_2_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  370.000106   167.324826
3995  79.939985  13.00000 -0.000003  370.000106   167.584891
3996  79.959990  13.00000 -0.000003  370.000105   167.844956
3997  79.979995  13.00000 -0.000003  370.000104   168.105021
3998  80.000000  13.00000 -0.000003  370.000103   168.365086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_4_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000371  369.998148   -30.081615
3995  79.939985  11.00000  0.000355  369.998228   -29.861560
3996  79.959990  11.00000  0.000340  369.998305   -29.641505
3997  79.979995  11.00000  0.000325  369.998378   -29.421450
3998  80.000000  11.00000  0.000311  369.998448   -29.201395

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_4_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_4_2_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_4_2_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -230.000001
1      0.040010   0.12006  3.141593  170.000000  -230.002402
2      0.060015   0.24009  3.141593  170.000000  -230.007205
3      0.080020   0.36012  3.141593  170.000000  -230.014410
4      0.100025   0.48015  3.141593  170.000000  -230.024015
...         ...       ...       ...         ...          ...
3994  79.919980  15.00000 -1.606518  249.086661   249.973177
3995  79.939985  15.00000 -1.613637  248.786818   249.961393
3996  79.959990  15.00000 -1.620755  248.487066   249.947475
3997  79.979995  15.00000 -1.627872  248.187422   249.931424
3998  80.000000  15.00000 -1.634991  247.887899   249.913240

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_4_2_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_4_2_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_4_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_4_2_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_5_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_5_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  370.000106   167.324826
3995  79.939985  13.00000 -0.000003  370.000106   167.584891
3996  79.959990  13.00000 -0.000003  370.000105   167.844956
3997  79.979995  13.00000 -0.000003  370.000104   168.105021
3998  80.000000  13.00000 -0.000003  370.000103   168.365086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_5_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000371  369.998148   -30.081615
3995  79.939985  11.00000  0.000355  369.998228   -29.861560
3996  79.959990  11.00000  0.000340  369.998305   -29.641505
3997  79.979995  11.00000  0.000325  369.998378   -29.421450
3998  80.000000  11.00000  0.000311  369.998448   -29.201395

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_5_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_5_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_5_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -230.000001
1      0.040010   0.12006  3.141593  170.000000  -230.002402
2      0.060015   0.24009  3.141593  170.000000  -230.007205
3      0.080020   0.36012  3.141593  170.000000  -230.014410
4      0.100025   0.48015  3.141593  170.000000  -230.024015
...         ...       ...       ...         ...          ...
3994  79.919980  15.00000 -1.606518  249.086661   249.973177
3995  79.939985  15.00000 -1.613637  248.786818   249.961393
3996  79.959990  15.00000 -1.620755  248.487066   249.947475
3997  79.979995  15.00000 -1.627872  248.187422   249.931424
3998  80.000000  15.00000 -1.634991  247.887899   249.913240

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_5_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_5_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_5_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_Offset_faultduration_5_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_sample_FaultFree_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_sample_FaultFree_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  370.000106   167.324826
3995  79.939985  13.00000 -0.000003  370.000106   167.584891
3996  79.959990  13.00000 -0.000003  370.000105   167.844956
3997  79.979995  13.00000 -0.000003  370.000104   168.105021
3998  80.000000  13.00000 -0.000003  370.000103   168.365086

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_sample_FaultFree_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000371  369.998148   -30.081615
3995  79.939985  11.00000  0.000355  369.998228   -29.861560
3996  79.959990  11.00000  0.000340  369.998305   -29.641505
3997  79.979995  11.00000  0.000325  369.998378   -29.421450
3998  80.000000  11.00000  0.000311  369.998448   -29.201395

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_sample_FaultFree_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_sample_FaultFree_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_sample_FaultFree_V5.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593  170.000000  -230.000001
1      0.040010   0.12006  3.141593  170.000000  -230.002402
2      0.060015   0.24009  3.141593  170.000000  -230.007205
3      0.080020   0.36012  3.141593  170.000000  -230.014410
4      0.100025   0.48015  3.141593  170.000000  -230.024015
...         ...       ...       ...         ...          ...
3994  79.919980  15.00000 -1.606518  249.086661   249.973177
3995  79.939985  15.00000 -1.613637  248.786818   249.961393
3996  79.959990  15.00000 -1.620755  248.487066   249.947475
3997  79.979995  15.00000 -1.627872  248.187422   249.931424
3998  80.000000  15.00000 -1.634991  247.887899   249.913240

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_sample_FaultFree_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_sample_FaultFree_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_sample_FaultFree_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_sample_FaultFree_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_0_6_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_0_6_V10.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.12006  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.24009  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.36012  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.48015  1.570796e+00 -199.975985  -300.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000 -1.764523e-07  370.000002   163.162928
3995  79.939985  13.00000 -1.711287e-07  370.000002   163.422993
3996  79.959990  13.00000 -1.658276e-07  370.000002   163.683058
3997  79.979995  13.00000 -1.605704e-07  370.000002   163.943123
3998  80.000000  13.00000 -1.553765e-07  370.000002   164.203188

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_0_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000541  369.997289   -31.516647
3995  79.939985  11.00000  0.000518  369.997406   -31.296592
3996  79.959990  11.00000  0.000496  369.997518   -31.076537
3997  79.979995  11.00000  0.000475  369.997624   -30.856482
3998  80.000000  11.00000  0.000455  369.997727   -30.636427

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_0_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_0_6_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_0_6_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.999937 -1.570797  257.482214   250.000005
3995  79.939985  14.999938 -1.570797  257.182140   250.000005
3996  79.959990  14.999940 -1.570797  256.882066   250.000005
3997  79.979995  14.999941 -1.570797  256.581992   250.000005
3998  80.000000  14.999942 -1.570797  256.281918   250.000004

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_0_6_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_0_6_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_0_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_0_6_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_2_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_2_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000  0.000002  369.999951   158.997491
3995  79.939985  13.00000  0.000002  369.999952   159.257556
3996  79.959990  13.00000  0.000002  369.999952   159.517621
3997  79.979995  13.00000  0.000002  369.999952   159.777686
3998  80.000000  13.00000  0.000002  369.999953   160.037751

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_2_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000751  369.996226   -33.021262
3995  79.939985  11.00000  0.000719  369.996388   -32.801207
3996  79.959990  11.00000  0.000688  369.996543   -32.581152
3997  79.979995  11.00000  0.000659  369.996691   -32.361097
3998  80.000000  11.00000  0.000631  369.996833   -32.141042

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_2_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_2_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.999820 -1.570799  265.882421   250.000019
3995  79.939985  14.999824 -1.570799  265.582350   250.000018
3996  79.959990  14.999827 -1.570799  265.282278   250.000017
3997  79.979995  14.999831 -1.570799  264.982206   250.000017
3998  80.000000  14.999834 -1.570799  264.682135   250.000016

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_2_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_2_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_2_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_8_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_8_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  370.000122   154.852736
3995  79.939985  13.00000 -0.000003  370.000121   155.112801
3996  79.959990  13.00000 -0.000003  370.000120   155.372866
3997  79.979995  13.00000 -0.000003  370.000119   155.632931
3998  80.000000  13.00000 -0.000003  370.000118   155.892996

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_8_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000990  369.995011   -34.601534
3995  79.939985  11.00000  0.000948  369.995225   -34.381479
3996  79.959990  11.00000  0.000908  369.995429   -34.161424
3997  79.979995  11.00000  0.000870  369.995624   -33.941369
3998  80.000000  11.00000  0.000833  369.995812   -33.721314

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_8_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_8_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_8_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.999603 -1.570807  274.283630   250.000069
3995  79.939985  14.999611 -1.570806  273.983562   250.000066
3996  79.959990  14.999619 -1.570806  273.683495   250.000063
3997  79.979995  14.999626 -1.570806  273.383427   250.000060
3998  80.000000  14.999634 -1.570805  273.083360   250.000058

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_8_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_8_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_8_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_1_8_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_2_4_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_2_4_V10.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.12006  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.24009  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.36012  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.48015  1.570796e+00 -199.975985  -300.000000
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  7.294479e-07  370.000000   150.656920
3995  79.939985  13.00000  6.945163e-07  370.000000   150.916985
3996  79.959990  13.00000  6.597351e-07  370.000001   151.177050
3997  79.979995  13.00000  6.252458e-07  370.000001   151.437115
3998  80.000000  13.00000  5.911741e-07  370.000001   151.697180

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_2_4_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593 -280.000000  -220.000001
1      0.040010   0.120060  3.141449 -280.000000  -220.002402
2      0.060015   0.240090  3.141189 -279.999999  -220.007205
3      0.080020   0.360120  3.140830 -279.999994  -220.014410
4      0.100025   0.480150  3.140390 -279.999985  -220.024015
...         ...        ...       ...         ...          ...
3994  79.919980  10.999999  0.001253  369.993688   -36.247346
3995  79.939985  10.999999  0.001200  369.993958   -36.027291
3996  79.959990  10.999999  0.001150  369.994217   -35.807236
3997  79.979995  10.999999  0.001101  369.994464   -35.587181
3998  80.000000  10.999999  0.001054  369.994701   -35.367126

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_2_4_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_2_4_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_2_4_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.999199 -1.570834  282.761720   250.000249
3995  79.939985  14.999215 -1.570833  282.461661   250.000237
3996  79.959990  14.999232 -1.570831  282.161601   250.000227
3997  79.979995  14.999247 -1.570830  281.861541   250.000217
3998  80.000000  14.999263 -1.570828  281.561481   250.000207

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_2_4_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_2_4_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_2_4_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_2_4_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_6_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_6_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000003  369.999997   140.797475
3995  79.939985  13.00000 -0.000003  369.999996   141.057540
3996  79.959990  13.00000 -0.000003  369.999995   141.317606
3997  79.979995  13.00000 -0.000002  369.999994   141.577671
3998  80.000000  13.00000 -0.000002  369.999994   141.837736

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_6_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593 -280.000000  -220.000001
1      0.040010   0.120060  3.141449 -280.000000  -220.002402
2      0.060015   0.240090  3.141189 -279.999999  -220.007205
3      0.080020   0.360120  3.140830 -279.999994  -220.014410
4      0.100025   0.480150  3.140390 -279.999985  -220.024015
...         ...        ...       ...         ...          ...
3994  79.919980  10.999999  0.002845  369.985398   -40.402872
3995  79.939985  10.999999  0.002729  369.986011   -40.182818
3996  79.959990  10.999999  0.002617  369.986599   -39.962764
3997  79.979995  10.999999  0.002510  369.987164   -39.742710
3998  80.000000  10.999999  0.002407  369.987705   -39.522656

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_6_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_6_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.997059 -1.571374  301.496346   250.004016
3995  79.939985  14.997119 -1.571352  301.196329   250.003846
3996  79.959990  14.997178 -1.571331  300.896310   250.003682
3997  79.979995  14.997235 -1.571310  300.596290   250.003525
3998  80.000000  14.997292 -1.571289  300.296270   250.003374

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_6_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_6_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_6_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_6_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -0.000004  369.999916   145.756258
3995  79.939985  13.00000 -0.000004  369.999915   146.016323
3996  79.959990  13.00000 -0.000003  369.999914   146.276388
3997  79.979995  13.00000 -0.000003  369.999913   146.536453
3998  80.000000  13.00000 -0.000003  369.999912   146.796518

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593 -280.000000  -220.000001
1      0.040010   0.120060  3.141449 -280.000000  -220.002402
2      0.060015   0.240090  3.141189 -279.999999  -220.007205
3      0.080020   0.360120  3.140830 -279.999994  -220.014410
4      0.100025   0.480150  3.140390 -279.999985  -220.024015
...         ...        ...       ...         ...          ...
3994  79.919980  10.999999  0.002106  369.989184   -38.283139
3995  79.939985  10.999999  0.002020  369.989638   -38.063085
3996  79.959990  10.999999  0.001938  369.990074   -37.843030
3997  79.979995  10.999999  0.001859  369.990492   -37.622975
3998  80.000000  10.999999  0.001782  369.990892   -37.402921

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_V5.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593  170.000000  -230.000001
1      0.040010   0.120060  3.141593  170.000000  -230.002402
2      0.060015   0.240090  3.141593  170.000000  -230.007205
3      0.080020   0.360120  3.141593  170.000000  -230.014410
4      0.100025   0.480150  3.141593  170.000000  -230.024015
...         ...        ...       ...         ...          ...
3994  79.919980  14.998450 -1.570955  291.980511   250.001043
3995  79.939985  14.998482 -1.570948  291.680467   250.000996
3996  79.959990  14.998513 -1.570941  291.380421   250.000952
3997  79.979995  14.998543 -1.570935  291.080375   250.000909
3998  80.000000  14.998573 -1.570929  290.780329   250.000869

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_3_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_4_2_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_4_2_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.148614  338.833517   245.347650
3995  79.939985  13.00000 -1.153370  338.596035   245.453648
3996  79.959990  13.00000 -1.158158  338.358049   245.558512
3997  79.979995  13.00000 -1.162954  338.119563   245.662233
3998  80.000000  13.00000 -1.167735  337.880583   245.764812

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_4_2_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593 -280.000000  -220.000001
1      0.040010   0.120060  3.141449 -280.000000  -220.002402
2      0.060015   0.240090  3.141189 -279.999999  -220.007205
3      0.080020   0.360120  3.140830 -279.999994  -220.014410
4      0.100025   0.480150  3.140390 -279.999985  -220.024015
...         ...        ...       ...         ...          ...
3994  79.919980  10.999996  0.007207  369.959341   -45.320902
3995  79.939985  10.999996  0.006969  369.960901   -45.100853
3996  79.959990  10.999996  0.006736  369.962409   -44.880803
3997  79.979995  10.999997  0.006507  369.963866   -44.660753
3998  80.000000  10.999997  0.006284  369.965273   -44.440702

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_4_2_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_4_2_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_4_2_V5.csv

           Time      Speed      Rotation  Position  Translation
0      0.020005   0.000030  3.141593e+00     170.0  -230.000001
1      0.040010   0.120060  3.141593e+00     170.0  -230.002402
2      0.060015   0.240090  3.141593e+00     170.0  -230.007205
3      0.080020   0.360120  3.141593e+00     170.0  -230.014410
4      0.100025   0.480150  3.141593e+00     170.0  -230.024015
...         ...        ...           ...       ...          ...
3994  79.919980  14.994476 -2.544631e-13     370.0   148.797173
3995  79.939985  14.994589 -2.544631e-13     370.0   149.097140
3996  79.959990  14.994699 -2.544631e-13     370.0   149.397109
3997  79.979995  14.994807 -2.544631e-13     370.0   149.697080
3998  80.000000  14.994913 -2.544631e-13     370.0   149.997054

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_4_2_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_4_2_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_4_2_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_4_2_V9.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_5_V1.csv

           Time     Speed      Rotation    Position  Translation
0      0.020005   0.00003 -7.272072e-08   60.000000  -159.999999
1      0.040010   0.12006 -2.910743e-04   60.000000  -159.997598
2      0.060015   0.24009 -8.195829e-04   59.999997  -159.992795
3      0.080020   0.36012 -1.544724e-03   59.999988  -159.985590
4      0.100025   0.48015 -2.434410e-03   59.999969  -159.975985
...         ...       ...           ...         ...          ...
3994  79.919980  13.00000  1.570796e+00 -151.521302    90.000001
3995  79.939985  13.00000  1.570796e+00 -151.261237    90.000001
3996  79.959990  13.00000  1.570796e+00 -151.001172    90.000000
3997  79.979995  13.00000  1.570796e+00 -150.741107    90.000000
3998  80.000000  13.00000  1.570796e+00 -150.481042    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_5_V10.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  1.570796 -199.999999  -300.000000
1      0.040010   0.12006  1.570796 -199.997598  -300.000000
2      0.060015   0.24009  1.570796 -199.992795  -300.000000
3      0.080020   0.36012  1.570796 -199.985590  -300.000000
4      0.100025   0.48015  1.570796 -199.975985  -300.000000
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.148614  338.833517   245.347650
3995  79.939985  13.00000 -1.153370  338.596035   245.453648
3996  79.959990  13.00000 -1.158158  338.358049   245.558512
3997  79.979995  13.00000 -1.162954  338.119563   245.662233
3998  80.000000  13.00000 -1.167735  337.880583   245.764812

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_5_V2.csv

           Time      Speed  Rotation    Position  Translation
0      0.020005   0.000030  3.141593 -280.000000  -220.000001
1      0.040010   0.120060  3.141449 -280.000000  -220.002402
2      0.060015   0.240090  3.141189 -279.999999  -220.007205
3      0.080020   0.360120  3.140830 -279.999994  -220.014410
4      0.100025   0.480150  3.140390 -279.999985  -220.024015
...         ...        ...       ...         ...          ...
3994  79.919980  10.999996  0.008195  369.953836   -46.274291
3995  79.939985  10.999996  0.007924  369.955609   -46.054244
3996  79.959990  10.999996  0.007658  369.957324   -45.834195
3997  79.979995  10.999996  0.007397  369.958980   -45.614147
3998  80.000000  10.999996  0.007142  369.960580   -45.394098

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_5_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_5_V4.csv

           Time         Speed      Rotation    Position  Translation
0      0.020005  3.000750e-05  1.400765e-07 -300.000000   250.000001
1      0.040010  1.200600e-01  5.607263e-04 -299.999999   250.002402
2      0.060015  2.400900e-01  1.681759e-03 -299.999994   250.007205
3      0.080020  3.601200e-01  3.363237e-03 -299.999976   250.014410
4      0.100025  4.801500e-01  5.605162e-03 -299.999933   250.024015
...         ...           ...           ...         ...          ...
3994  79.919980  3.683713e-16  1.570796e+00  100.477273    90.000000
3995  79.939985  3.608490e-16  1.570796e+00  100.477273    90.000000
3996  79.959990  3.534803e-16  1.570796e+00  100.477273    90.000000
3997  79.979995  3.462621e-16  1.570796e+00  100.477273    90.000000
3998  80.000000  3.391913e-16  1.570796e+00  100.477273    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_5_V5.csv

           Time      Speed      Rotation  Position  Translation
0      0.020005   0.000030  3.141593e+00     170.0  -230.000001
1      0.040010   0.120060  3.141593e+00     170.0  -230.002402
2      0.060015   0.240090  3.141593e+00     170.0  -230.007205
3      0.080020   0.360120  3.141593e+00     170.0  -230.014410
4      0.100025   0.480150  3.141593e+00     170.0  -230.024015
...         ...        ...           ...       ...          ...
3994  79.919980  14.987299 -2.529088e-13     370.0   144.518256
3995  79.939985  14.987558 -2.529088e-13     370.0   144.818082
3996  79.959990  14.987812 -2.529088e-13     370.0   145.117913
3997  79.979995  14.988061 -2.529088e-13     370.0   145.417749
3998  80.000000  14.988305 -2.529088e-13     370.0   145.717590

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_5_V6.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  0.792490 -239.000000     8.000000
1      0.040010  1.200600e-01  0.792490 -238.998289     8.001687
2      0.060015  2.400900e-01  0.792490 -238.994869     8.005059
3      0.080020  3.601200e-01  0.792490 -238.989739     8.010117
4      0.100025  4.801500e-01  0.792490 -238.982899     8.016860
...         ...           ...       ...         ...          ...
3994  79.919980  2.701903e-20  1.570796  123.489552    90.000000
3995  79.939985  2.646843e-20  1.570796  123.489552    90.000000
3996  79.959990  2.592906e-20  1.570796  123.489552    90.000000
3997  79.979995  2.540068e-20  1.570796  123.489552    90.000000
3998  80.000000  2.488307e-20  1.570796  123.489552    90.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_5_V7.csv

           Time         Speed  Rotation    Position  Translation
0      0.020005  3.000750e-05  1.570796 -219.999999           90
1      0.040010  1.200600e-01  1.570796 -219.997598           90
2      0.060015  2.400900e-01  1.570796 -219.992795           90
3      0.080020  3.601200e-01  1.570796 -219.985590           90
4      0.100025  4.801500e-01  1.570796 -219.975985           90
...         ...           ...       ...         ...          ...
3994  79.919980  5.593045e-23  1.570796  149.294880           90
3995  79.939985  5.478824e-23  1.570796  149.294880           90
3996  79.959990  5.366935e-23  1.570796  149.294880           90
3997  79.979995  5.257332e-23  1.570796  149.294880           90
3998  80.000000  5.149967e-23  1.570796  149.294880           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_5_V8.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005  0.000020 -1.562860  250.000000   250.000000
1      0.040010  0.080040 -1.562733  249.998398   250.000013
2      0.060015  0.160059 -1.562495  249.995197   250.000039
3      0.080020  0.238477 -1.562162  249.990426   250.000079
4      0.100025  0.315294 -1.561748  249.984119   250.000135
...         ...       ...       ...         ...          ...
3994  79.919980  4.000000 -1.570211  108.049680   479.998164
3995  79.939985  4.000000 -1.570225  107.969660   479.998210
3996  79.959990  4.000000 -1.570240  107.889640   479.998255
3997  79.979995  4.000000 -1.570254  107.809620   479.998299
3998  80.000000  4.000000 -1.570267  107.729600   479.998342

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\final_dataset\finalCSVfiles\Platoon Control\Platoon Control_StuckAt_faultduration_5_V9.csv